openapi: 3.1.0
info:
  title: Xquik API
  version: '1.0'
  description: >-
    Look up any tweet, user, or trend on X. Search tweets, check follower
    relationships, download media, and monitor accounts in real time. 32
    pay-per-use read endpoints work without a subscription — just pay per call.
    Write endpoints (post, like, retweet, follow, DM) and automation endpoints
    (bulk extractions, giveaway draws, monitors, webhooks) require an API key or
    OAuth 2.1 bearer token.
  x-guidance: >-
    ## Common tasks


    **Find a tweet** — GET /x/tweets/{id} with a numeric tweet ID. Returns full
    tweet data: text, author, metrics (likes, retweets, replies, views), media
    URLs, and creation timestamp. Cost: $0.00015 per lookup.


    **Search tweets** — GET /x/tweets/search?q={query}&limit={n}. Supports X
    search operators (from:, to:, has:media, min_faves:, lang:). Returns up to
    200 tweets per page with cursor-based pagination. Cost: $0.00015 per tweet
    returned.


    **Find a user** — GET /x/users/{id} where {id} is a numeric user ID or
    @username. Returns profile data: name, bio, follower/following counts,
    verification status, join date. Cost: $0.00015 per lookup.


    **Check if A follows B** — GET /x/followers/check?source={a}&target={b}
    where source and target are user IDs or @usernames. Cost: $0.00105.


    **Get trending topics** — GET /trends?woeid={region}&count={n}. WOEID 1 =
    worldwide, 23424977 = US, 23424975 = UK, 23424969 = Turkey. Cost: $0.00045.


    **Download media** — POST /x/media/download with {"tweetIds": ["123",
    "456"]} body. Returns download URLs for images and videos. Cost: $0.00015
    per media item.


    **Read an article** — GET /x/articles/{tweetId} for long-form X Articles.
    Returns full article HTML, cover image, and metadata. Cost: $0.00105.


    ## Pagination


    All list endpoints return {items, cursor}. Pass cursor as ?after={cursor} to
    fetch the next page. Dynamic-priced endpoints charge per item returned, not
    per request.


    ## Authentication


    Read-only paid endpoints accept pay-per-use payments (no account needed).
    Write endpoints and automation features require an X-Api-Key header or OAuth
    2.1 bearer token.
  contact:
    name: Xquik
    url: https://xquik.com
    email: support@xquik.com

servers:
  - url: https://xquik.com/api/v1

x-discovery:
  ownershipProofs:
    - 'dns:xquik.com'

security:
  - apiKey: []
  - oauthBearer: []

tags:
  - name: Tweets
    description: Look up, search, and analyze individual tweets
  - name: Users
    description: Look up, search, and explore user profiles and relationships
  - name: Trends
    description: Trending topics and hashtags by region
  - name: Communities
    description: X Community info, members, and tweets
  - name: Lists
    description: X List followers, members, and tweets
  - name: Articles
    description: Long-form X Article extraction
  - name: Media
    description: Media upload and download
  - name: Composition
    description: AI tweet composition, drafts, writing styles, and radar
  - name: Draws
    description: Giveaway draws from tweet replies
  - name: Extractions
    description: Bulk data extraction (20 tool types)
  - name: Monitors
    description: Real-time X account monitoring
  - name: Events
    description: Activity events from monitored accounts
  - name: Webhooks
    description: Webhook endpoint management and delivery
  - name: Integrations
    description: Push notification integrations (Telegram)
  - name: Account
    description: Account info and settings
  - name: API Keys
    description: API key management (session auth only)
  - name: Subscribe
    description: Subscription, billing, and credits
  - name: X Accounts
    description: Connected X account management
  - name: X Write
    description: X write actions (tweets, likes, follows, DMs)
  - name: Bot
    description: Telegram bot service endpoints
  - name: Support
    description: Support ticket management
paths:
  # ── Account ──────────────────────────────────────────────
  /account:
    get:
      operationId: getAccount
      summary: Get account info
      tags: [Account]
      security:
        - apiKey: []
        - oauthBearer: []
      responses:
        '200':
          description: Account info
          content:
            application/json:
              schema:
                type: object
                required: [plan, monitorsUsed, monitorsAllowed]
                properties:
                  plan:
                    type: string
                    enum: [active, inactive]
                    example: active
                  monitorsUsed:
                    type: integer
                    example: 3
                  monitorsAllowed:
                    type: integer
                    example: 10
                  currentPeriod:
                    type: object
                    required: [start, end, usagePercent]
                    properties:
                      start:
                        type: string
                        format: date-time
                        example: '2025-01-01T00:00:00Z'
                      end:
                        type: string
                        format: date-time
                        example: '2025-02-01T00:00:00Z'
                      usagePercent:
                        type: number
                        example: 42.5
                    example:
                      start: '2025-01-01T00:00:00Z'
                      end: '2025-02-01T00:00:00Z'
                      usagePercent: 42.5
              example:
                plan: active
                monitorsUsed: 3
                monitorsAllowed: 10
                currentPeriod:
                  start: '2025-01-01T00:00:00Z'
                  end: '2025-02-01T00:00:00Z'
                  usagePercent: 42.5
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    patch:
      operationId: updateAccount
      summary: Update account locale
      tags: [Account]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description: Locale preference for the account.
        content:
          application/json:
            schema:
              type: object
              required: [locale]
              properties:
                locale:
                  type: string
                  enum: [en, tr, es]
                  example: en
            example:
              locale: en
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'

        '402':
          $ref: '#/components/responses/PaymentRequired'
  /account/x-identity:
    put:
      operationId: setXIdentity
      summary: Set linked X username
      tags: [Account]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description: X username to link to this account.
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  description: X username without @
                  example: elonmusk
            example:
              username: elonmusk
      responses:
        '200':
          description: X identity linked
          content:
            application/json:
              schema:
                type: object
                required: [success, xUsername]
                properties:
                  success:
                    type: boolean
                    const: true
                  xUsername:
                    type: string
                    example: elonmusk
              example:
                success: true
                xUsername: elonmusk
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'

        # ── API Keys ─────────────────────────────────────────────
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /api-keys:
    get:
      operationId: listApiKeys
      summary: List API keys
      tags: [API Keys]
      security:
        - apiKey: []
        - oauthBearer: []
      responses:
        '200':
          description: API key list
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
                    example: []
              example:
                keys: []
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      operationId: createApiKey
      summary: Create API key
      tags: [API Keys]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description: Optional display name for the new API key.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: My API Key
            example:
              name: My API Key
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                required: [id, fullKey, name, prefix, createdAt]
                properties:
                  id:
                    type: string
                    example: '42'
                  fullKey:
                    type: string
                    example: xq_live_abc123def456
                  name:
                    type: string
                    example: My API Key
                  prefix:
                    type: string
                    example: xq_live_abc1
                  createdAt:
                    type: string
                    format: date-time
                    example: '2025-01-15T12:00:00Z'
              example:
                id: '42'
                fullKey: xq_live_abc123def456
                name: My API Key
                prefix: xq_live_abc1
                createdAt: '2025-01-15T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthenticated'

        '402':
          $ref: '#/components/responses/PaymentRequired'
  /api-keys/{id}:
    delete:
      operationId: revokeApiKey
      summary: Revoke API key
      tags: [API Keys]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Subscribe ────────────────────────────────────────────
  /subscribe:
    post:
      operationId: subscribe
      summary: Get checkout or billing URL
      tags: [Subscribe]
      security:
        - apiKey: []
        - oauthBearer: []
      responses:
        '200':
          description: Stripe checkout or billing portal URL
          content:
            application/json:
              schema:
                type: object
                required: [url]
                properties:
                  url:
                    type: string
                    format: uri
                    example: 'https://checkout.stripe.com/c/pay/cs_test_123'
                  status:
                    type: string
                    enum: [checkout_created, already_subscribed, payment_issue]
                    example: checkout_created
                  message:
                    type: string
                    example: Checkout session created
              example:
                url: 'https://checkout.stripe.com/c/pay/cs_test_123'
                status: checkout_created
                message: Checkout session created
        '401':
          $ref: '#/components/responses/Unauthenticated'

        # ── Composition ──────────────────────────────────────────
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /compose:
    post:
      operationId: compose
      summary: Compose, refine, or score a tweet
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description: Workflow step, topic, goal, and optional style parameters.
        content:
          application/json:
            schema:
              type: object
              required: [step]
              properties:
                step:
                  type: string
                  enum: [compose, refine, score]
                  description: Workflow step
                  example: compose
                topic:
                  type: string
                  description: Tweet topic (compose, refine)
                  example: AI trends in 2025
                goal:
                  type: string
                  enum: [engagement, followers, authority, conversation]
                  description: Optimization goal
                  example: engagement
                draft:
                  type: string
                  description: Tweet draft text to evaluate (score)
                  example: "AI is changing everything. Here's why."
                tone:
                  type: string
                  description: Desired tone (refine)
                  example: professional
                styleUsername:
                  type: string
                  description:
                    Cached style username for voice matching (compose)
                  example: elonmusk
                additionalContext:
                  type: string
                  description: Extra context or URLs (refine)
                  example: 'https://x.com/elonmusk/status/1234567890'
                callToAction:
                  type: string
                  description: Desired call to action (refine)
                  example: Follow for more
                mediaType:
                  type: string
                  enum: [photo, video, none]
                  description: Media type (refine)
                  example: none
                hasLink:
                  type: boolean
                  description: Whether a link is attached (score)
                  example: false
                hasMedia:
                  type: boolean
                  description: Whether media is attached (score)
                  example: false
            example:
              step: compose
              topic: AI trends in 2025
              goal: engagement
      responses:
        '200':
          description: Composition result
          content:
            application/json:
              schema:
                type: object
                properties:
                  text:
                    type: string
                    description: Generated or refined tweet text
                    example:
                      'AI is reshaping every industry. Here are 5 trends to
                      watch in 2025.'
                  score:
                    type: number
                    description: Engagement score (0-100)
                    example: 78
                  feedback:
                    type: string
                    description: AI feedback on the draft
                    example: 'Strong hook. Consider adding a call to action.'
                  suggestions:
                    type: array
                    items:
                      type: string
                    description: Improvement suggestions
                    example: ['Add a thread hook', 'Include a relevant hashtag']
                additionalProperties: true
              example:
                text:
                  'AI is reshaping every industry. Here are 5 trends to watch in
                  2025.'
                score: 78
                feedback: 'Strong hook. Consider adding a call to action.'
                suggestions: ['Add a thread hook', 'Include a relevant hashtag']
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'

        '402':
          $ref: '#/components/responses/PaymentRequired'
  /drafts:
    get:
      operationId: listDrafts
      summary: List saved drafts
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - name: afterCursor
          in: query
          schema:
            type: string
          description: Cursor for pagination
      responses:
        '200':
          description: Draft list
          content:
            application/json:
              schema:
                type: object
                required: [drafts, hasMore]
                properties:
                  drafts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Draft'
                    example: []
                  hasMore:
                    type: boolean
                    example: false
                  nextCursor:
                    type: string
                    example: 'abc123'
              example:
                drafts: []
                hasMore: false
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      operationId: createDraft
      summary: Save a tweet draft
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description: Draft text with optional topic and optimization goal.
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  example: 'AI is the future of productivity'
                topic:
                  type: string
                  example: 'AI trends'
                goal:
                  type: string
                  enum: [engagement, followers, authority, conversation]
                  example: engagement
            example:
              text: 'AI is the future of productivity'
              topic: 'AI trends'
              goal: engagement
      responses:
        '201':
          description: Draft created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftDetail'
              example:
                id: '42'
                text: 'AI is the future of productivity'
                topic: 'AI trends'
                goal: engagement
                createdAt: '2025-01-15T12:00:00Z'
                updatedAt: '2025-01-16T09:30:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'

        '402':
          $ref: '#/components/responses/PaymentRequired'
  /drafts/{id}:
    get:
      operationId: getDraft
      summary: Get draft by ID
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Draft details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftDetail'
              example:
                id: '42'
                text: 'AI is the future of productivity'
                topic: 'AI trends'
                goal: engagement
                createdAt: '2025-01-15T12:00:00Z'
                updatedAt: '2025-01-16T09:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteDraft
      summary: Delete a draft
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /styles:
    get:
      operationId: listStyles
      summary: List cached style profiles
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      responses:
        '200':
          description: Style profile list
          content:
            application/json:
              schema:
                type: object
                required: [styles]
                properties:
                  styles:
                    type: array
                    items:
                      $ref: '#/components/schemas/StyleProfileSummary'
                    example: []
              example:
                styles: []
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      operationId: analyzeStyle
      summary: Analyze writing style from recent tweets
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description: X username whose recent tweets define the style.
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  description: X username to analyze
                  example: elonmusk
            example:
              username: elonmusk
      responses:
        '200':
          description: Style profile created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StyleProfile'
              example:
                xUsername: 'elonmusk'
                tweetCount: 50
                isOwnAccount: true
                fetchedAt: '2025-01-15T12:00:00Z'
                tweets:
                  - id: '1234567890'
                    text: 'Just launched our new feature!'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'

        '402':
          $ref: '#/components/responses/PaymentRequired'
  /styles/compare:
    get:
      operationId: compareStyles
      summary: Compare two style profiles
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - name: username1
          in: query
          required: true
          schema:
            type: string
          description: First username to compare
        - name: username2
          in: query
          required: true
          schema:
            type: string
          description: Second username to compare
      responses:
        '200':
          description: Style comparison
          content:
            application/json:
              schema:
                type: object
                required: [style1, style2]
                properties:
                  style1:
                    $ref: '#/components/schemas/StyleProfile'
                  style2:
                    $ref: '#/components/schemas/StyleProfile'
              example:
                style1:
                  xUsername: 'elonmusk'
                  tweetCount: 50
                  isOwnAccount: true
                  fetchedAt: '2025-01-15T12:00:00Z'
                  tweets:
                    - id: '1234567890'
                      text: 'Just launched our new feature!'
                style2:
                  xUsername: 'BillGates'
                  tweetCount: 40
                  isOwnAccount: false
                  fetchedAt: '2025-01-15T12:00:00Z'
                  tweets:
                    - id: '9876543210'
                      text: 'Climate change is a global challenge.'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /styles/{id}:
    get:
      operationId: getStyle
      summary: Get cached style profile
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/StyleId'
      responses:
        '200':
          description: Style profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StyleProfile'
              example:
                xUsername: 'elonmusk'
                tweetCount: 50
                isOwnAccount: true
                fetchedAt: '2025-01-15T12:00:00Z'
                tweets:
                  - id: '1234567890'
                    text: 'Just launched our new feature!'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: saveStyle
      summary: Save style profile with custom tweets
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/StyleId'
      requestBody:
        required: true
        description: Label and sample tweets that define the style profile.
        content:
          application/json:
            schema:
              type: object
              required: [label, tweets]
              properties:
                label:
                  type: string
                  description: Display label for the style
                  example: 'Professional Voice'
                tweets:
                  type: array
                  items:
                    type: object
                    required: [text]
                    properties:
                      text:
                        type: string
                        example:
                          'Excited to share our latest research findings.'
                  description: Array of tweet objects
                  example:
                    - text: 'Excited to share our latest research findings.'
            example:
              label: 'Professional Voice'
              tweets:
                - text: 'Excited to share our latest research findings.'
      responses:
        '200':
          description: Style profile saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StyleProfile'
              example:
                xUsername: 'elonmusk'
                tweetCount: 1
                isOwnAccount: true
                fetchedAt: '2025-01-15T12:00:00Z'
                tweets:
                  - id: '1234567890'
                    text: 'Excited to share our latest research findings.'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    delete:
      operationId: deleteStyle
      summary: Delete a style profile
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/StyleId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /styles/{id}/performance:
    get:
      operationId: getStylePerformance
      summary: Get engagement metrics for style tweets
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/StyleId'
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                type: object
                required: [xUsername, tweetCount, tweets]
                properties:
                  xUsername:
                    type: string
                    example: elonmusk
                  tweetCount:
                    type: integer
                    example: 5
                  tweets:
                    type: array
                    items:
                      type: object
                      required: [id, text]
                      properties:
                        id:
                          type: string
                          example: '1234567890'
                        text:
                          type: string
                          example:
                            'Excited to share our latest research findings.'
                        likeCount:
                          type: integer
                          example: 120
                        retweetCount:
                          type: integer
                          example: 15
                        replyCount:
                          type: integer
                          example: 8
                        viewCount:
                          type: integer
                          example: 5000
                        createdAt:
                          type: string
                          example: '2025-01-15T12:00:00Z'
                    example:
                      - id: '1234567890'
                        text: 'Excited to share our latest research findings.'
                        likeCount: 120
                        retweetCount: 15
                        replyCount: 8
                        viewCount: 5000
                        createdAt: '2025-01-15T12:00:00Z'
              example:
                xUsername: elonmusk
                tweetCount: 5
                tweets:
                  - id: '1234567890'
                    text: 'Excited to share our latest research findings.'
                    likeCount: 120
                    retweetCount: 15
                    replyCount: 8
                    viewCount: 5000
                    createdAt: '2025-01-15T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /radar:
    get:
      operationId: getRadar
      summary: Get trending topics from curated sources
      tags: [Composition]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - name: category
          in: query
          schema:
            type: string
          description: 'Filter by category (general, tech, dev, etc.)'
        - name: count
          in: query
          schema:
            type: integer
          description: Number of items to return
        - name: hours
          in: query
          schema:
            type: integer
          description: Lookback window in hours
        - name: region
          in: query
          schema:
            type: string
          description: 'Region filter (us, global, etc.)'
        - name: source
          in: query
          schema:
            type: string
            enum:
              [
                github,
                google_trends,
                hacker_news,
                polymarket,
                reddit,
                trustmrr,
                wikipedia,
              ]
          description:
            'Source filter. One of: github, google_trends, hacker_news,
            polymarket, reddit, trustmrr, wikipedia'
      responses:
        '200':
          description: Radar items
          content:
            application/json:
              schema:
                type: object
                required: [items, total]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RadarItem'
                    example: []
                  total:
                    type: integer
                    example: 0
              example:
                items: []
                total: 0
        '401':
          $ref: '#/components/responses/Unauthenticated'

        # ── Monitors ─────────────────────────────────────────────
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /monitors:
    get:
      operationId: listMonitors
      summary: List monitors
      tags: [Monitors]
      security:
        - apiKey: []
        - oauthBearer: []
      responses:
        '200':
          description: Monitor list
          content:
            application/json:
              schema:
                type: object
                required: [monitors, total]
                properties:
                  monitors:
                    type: array
                    items:
                      $ref: '#/components/schemas/Monitor'
                    example: []
                  total:
                    type: integer
                    example: 0
              example:
                monitors: []
                total: 0
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      operationId: createMonitor
      summary: Create monitor
      tags: [Monitors]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description: Target X username and event types to monitor.
        content:
          application/json:
            schema:
              type: object
              required: [username, eventTypes]
              properties:
                username:
                  type: string
                  description: X username (without @)
                  example: elonmusk
                eventTypes:
                  $ref: '#/components/schemas/EventTypeArray'
                  example: [tweet.new, follower.gained]
            example:
              username: elonmusk
              eventTypes: [tweet.new, follower.gained]
      responses:
        '201':
          description: Monitor created
          content:
            application/json:
              schema:
                type: object
                required: [id, username, xUserId, eventTypes, createdAt]
                properties:
                  id:
                    type: string
                    example: '42'
                  username:
                    type: string
                    example: elonmusk
                  xUserId:
                    type: string
                    example: '1234567890'
                  eventTypes:
                    $ref: '#/components/schemas/EventTypeArray'
                    example: [tweet.new, follower.gained]
                  createdAt:
                    type: string
                    format: date-time
                    example: '2025-01-15T12:00:00Z'
              example:
                id: '42'
                username: elonmusk
                xUserId: '1234567890'
                eventTypes: [tweet.new, follower.gained]
                createdAt: '2025-01-15T12:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          description: Monitor limit reached
          content:
            application/json:
              schema:
                type: object
                required: [error, limit]
                properties:
                  error:
                    type: string
                    example: 'Monitor limit reached'
                  limit:
                    type: integer
                    description: Current monitor quota
                    example: 10
              example:
                error: 'Monitor limit reached'
                limit: 10
        '404':
          description: X user not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: 'user_not_found'
        '409':
          description: Monitor already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: 'monitor_already_exists'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: 'internal_error'
        '502':
          description: Stream registration failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: 'stream_registration_failed'

  /monitors/{id}:
    get:
      operationId: getMonitor
      summary: Get monitor
      tags: [Monitors]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Monitor details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
              example:
                id: '42'
                username: elonmusk
                xUserId: '1234567890'
                eventTypes: [tweet.new, follower.gained]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateMonitor
      summary: Update monitor
      tags: [Monitors]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        description: Updated event types or active status.
        content:
          application/json:
            schema:
              type: object
              properties:
                eventTypes:
                  $ref: '#/components/schemas/EventTypeArray'
                  example: [tweet.new]
                isActive:
                  type: boolean
                  example: true
            example:
              eventTypes: [tweet.new]
              isActive: true
      responses:
        '200':
          description: Monitor updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
              example:
                id: '42'
                username: elonmusk
                xUserId: '1234567890'
                eventTypes: [tweet.new]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteMonitor
      summary: Deactivate monitor
      tags: [Monitors]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Events ───────────────────────────────────────────────
  /events:
    get:
      operationId: listEvents
      summary: List events
      tags: [Events]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - name: monitorId
          in: query
          description: Filter events by monitor ID
          schema:
            type: string
        - name: eventType
          in: query
          description: Filter events by type
          schema:
            $ref: '#/components/schemas/EventType'
      responses:
        '200':
          description: Event list
          content:
            application/json:
              schema:
                type: object
                required: [events, hasMore]
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                    example: []
                  hasMore:
                    type: boolean
                    example: false
                  nextCursor:
                    type: string
                    example: 'abc123'
              example:
                events: []
                hasMore: false
        '401':
          $ref: '#/components/responses/Unauthenticated'

        '402':
          $ref: '#/components/responses/PaymentRequired'
  /events/{id}:
    get:
      operationId: getEvent
      summary: Get event
      tags: [Events]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
              example:
                id: '42'
                type: 'tweet.new'
                username: 'elonmusk'
                monitorId: '7'
                occurredAt: '2025-01-15T12:00:00Z'
                data:
                  tweetId: '1234567890'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Extractions ──────────────────────────────────────────
  /extractions:
    get:
      operationId: listExtractions
      summary: List extraction jobs
      tags: [Extractions]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - name: toolType
          in: query
          description: Filter by extraction tool type
          schema:
            $ref: '#/components/schemas/ExtractionToolType'
        - name: status
          in: query
          description: Filter by job status
          schema:
            type: string
            enum: [running, completed, failed]
      responses:
        '200':
          description: Extraction job list
          content:
            application/json:
              schema:
                type: object
                required: [extractions, hasMore]
                properties:
                  extractions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtractionJob'
                    example: []
                  hasMore:
                    type: boolean
                    example: false
                  nextCursor:
                    type: string
                    example: 'abc123'
              example:
                extractions: []
                hasMore: false
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      operationId: createExtraction
      summary: Run extraction
      tags: [Extractions]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description:
          Tool type and target identifier (tweet, user, community, list, or
          search query).
        content:
          application/json:
            schema:
              type: object
              required: [toolType]
              properties:
                toolType:
                  $ref: '#/components/schemas/ExtractionToolType'
                  example: follower_explorer
                targetTweetId:
                  type: string
                  example: '1234567890'
                targetUsername:
                  type: string
                  example: elonmusk
                targetCommunityId:
                  type: string
                  example: '1500000000000000000'
                targetListId:
                  type: string
                  example: '1234567890'
                targetSpaceId:
                  type: string
                  example: '1vOGwMdBqpwGB'
                searchQuery:
                  type: string
                  example: 'AI trends 2025'
                exactPhrase:
                  type: string
                  description: Exact phrase to match (tweet_search_extractor)
                  example: 'artificial intelligence'
                excludeWords:
                  type: string
                  description:
                    Words to exclude from results (tweet_search_extractor)
                  example: 'spam'
                advancedQuery:
                  type: string
                  description:
                    Raw advanced search query appended as-is
                    (tweet_search_extractor)
                  example: 'min_faves:100'
            example:
              toolType: follower_explorer
              targetUsername: elonmusk
      responses:
        '202':
          description: Extraction started
          content:
            application/json:
              schema:
                type: object
                required: [id, toolType, status]
                properties:
                  id:
                    type: string
                    example: 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'
                  toolType:
                    $ref: '#/components/schemas/ExtractionToolType'
                    example: follower_explorer
                  status:
                    type: string
                    const: running
                    example: running
              example:
                id: 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'
                toolType: follower_explorer
                status: running
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '502':
          $ref: '#/components/responses/XApiError'

  /extractions/estimate:
    post:
      operationId: estimateExtraction
      summary: Estimate extraction cost
      tags: [Extractions]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description:
          Same parameters as a real extraction; returns estimated credit cost
          without running the job.
        content:
          application/json:
            schema:
              type: object
              required: [toolType]
              properties:
                toolType:
                  $ref: '#/components/schemas/ExtractionToolType'
                  example: follower_explorer
                targetTweetId:
                  type: string
                  example: '1234567890'
                targetUsername:
                  type: string
                  example: elonmusk
                targetCommunityId:
                  type: string
                  example: '1500000000000000000'
                targetListId:
                  type: string
                  example: '1234567890'
                targetSpaceId:
                  type: string
                  example: '1vOGwMdBqpwGB'
                searchQuery:
                  type: string
                  example: 'AI trends 2025'
                exactPhrase:
                  type: string
                  description: Exact phrase filter for search estimation
                  example: 'artificial intelligence'
                excludeWords:
                  type: string
                  description: Words excluded from estimated search results
                  example: 'spam'
                advancedQuery:
                  type: string
                  description:
                    Raw advanced query string appended to the estimate
                    (tweet_search_extractor)
                  example: 'min_faves:100'
            example:
              toolType: follower_explorer
              targetUsername: elonmusk
      responses:
        '200':
          description: Extraction estimate
          content:
            application/json:
              schema:
                type: object
                required:
                  [
                    estimatedResults,
                    usagePercent,
                    projectedPercent,
                    allowed,
                    source,
                  ]
                properties:
                  estimatedResults:
                    type: integer
                    example: 500
                  usagePercent:
                    type: number
                    example: 25.0
                  projectedPercent:
                    type: number
                    example: 30.0
                  allowed:
                    type: boolean
                    example: true
                  source:
                    type: string
                    example: 'api_count'
              example:
                estimatedResults: 500
                usagePercent: 25.0
                projectedPercent: 30.0
                allowed: true
                source: 'api_count'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'

  /extractions/{id}:
    get:
      operationId: getExtraction
      summary: Get extraction results
      tags: [Extractions]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Extraction public ID (UUID)
        - name: limit
          in: query
          description: Maximum number of results to return (1-1000, default 100)
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: Extraction job with results
          content:
            application/json:
              schema:
                type: object
                required: [job, results, hasMore]
                properties:
                  job:
                    type: object
                    additionalProperties: true
                    x-stainless-any: true
                    description:
                      Extraction job metadata — shape varies by tool type (JSON)
                    x-stainless-terraform-type: string
                    example:
                      id: 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'
                      toolType: follower_explorer
                      status: completed
                  results:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    example: []
                  hasMore:
                    type: boolean
                    example: false
                  nextCursor:
                    type: string
                    example: 'abc123'
              example:
                job:
                  id: 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'
                  toolType: follower_explorer
                  status: completed
                results: []
                hasMore: false
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /extractions/{id}/export:
    get:
      operationId: exportExtraction
      summary: Export extraction results
      tags: [Extractions]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Extraction public ID
        - name: format
          in: query
          description: Export file format
          schema:
            type: string
            enum: [csv, json, md, md-document, pdf, txt, xlsx]
            default: csv
      responses:
        '200':
          description: Exported file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Draws ────────────────────────────────────────────────
  /draws:
    get:
      operationId: listDraws
      summary: List draws
      tags: [Draws]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: Draw list
          content:
            application/json:
              schema:
                type: object
                required: [draws, hasMore]
                properties:
                  draws:
                    type: array
                    items:
                      $ref: '#/components/schemas/DrawListItem'
                    example: []
                  hasMore:
                    type: boolean
                    example: false
                  nextCursor:
                    type: string
                    example: 'abc123'
              example:
                draws: []
                hasMore: false
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      operationId: createDraw
      summary: Run giveaway draw
      tags: [Draws]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description:
          Tweet URL, winner count, and optional eligibility filters (retweet,
          follow, keywords, hashtags, account age).
        content:
          application/json:
            schema:
              type: object
              required: [tweetUrl]
              properties:
                tweetUrl:
                  type: string
                  format: uri
                  example: 'https://x.com/elonmusk/status/1234567890'
                winnerCount:
                  type: integer
                  default: 1
                  example: 3
                backupCount:
                  type: integer
                  example: 2
                uniqueAuthorsOnly:
                  type: boolean
                  example: true
                mustRetweet:
                  type: boolean
                  example: true
                mustFollowUsername:
                  type: string
                  example: elonmusk
                filterMinFollowers:
                  type: integer
                  example: 50
                filterAccountAgeDays:
                  type: integer
                  example: 30
                filterLanguage:
                  type: string
                  example: en
                requiredHashtags:
                  type: array
                  items:
                    type: string
                  example: ['#giveaway']
                requiredKeywords:
                  type: array
                  items:
                    type: string
                  example: ['entered']
                requiredMentions:
                  type: array
                  items:
                    type: string
                  example: ['@elonmusk']
            example:
              tweetUrl: 'https://x.com/elonmusk/status/1234567890'
              winnerCount: 3
              mustRetweet: true
      responses:
        '201':
          description: Draw completed
          content:
            application/json:
              schema:
                type: object
                required: [id, tweetId, totalEntries, validEntries, winners]
                properties:
                  id:
                    type: string
                    example: '42'
                  tweetId:
                    type: string
                    example: '1234567890'
                  totalEntries:
                    type: integer
                    example: 250
                  validEntries:
                    type: integer
                    example: 200
                  winners:
                    type: array
                    items:
                      $ref: '#/components/schemas/Winner'
                    example: []
              example:
                id: '42'
                tweetId: '1234567890'
                totalEntries: 250
                validEntries: 200
                winners: []
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '502':
          $ref: '#/components/responses/XApiError'

  /draws/{id}:
    get:
      operationId: getDraw
      summary: Get draw details
      tags: [Draws]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Draw with winners
          content:
            application/json:
              schema:
                type: object
                required: [draw, winners]
                properties:
                  draw:
                    $ref: '#/components/schemas/DrawDetail'
                    example:
                      id: '42'
                      tweetUrl: 'https://x.com/elonmusk/status/1234567890'
                      tweetId: '1234567890'
                      tweetText: 'Giving away 3 Tesla Model 3s!'
                      tweetAuthorUsername: 'elonmusk'
                      status: 'completed'
                      totalEntries: 250
                      validEntries: 200
                      tweetLikeCount: 50000
                      tweetRetweetCount: 25000
                      tweetReplyCount: 10000
                      tweetQuoteCount: 5000
                      createdAt: '2025-01-15T12:00:00Z'
                  winners:
                    type: array
                    items:
                      $ref: '#/components/schemas/Winner'
                    example: []
              example:
                draw:
                  id: '42'
                  tweetUrl: 'https://x.com/elonmusk/status/1234567890'
                  tweetId: '1234567890'
                  tweetText: 'Giving away 3 Tesla Model 3s!'
                  tweetAuthorUsername: 'elonmusk'
                  status: 'completed'
                  totalEntries: 250
                  validEntries: 200
                  tweetLikeCount: 50000
                  tweetRetweetCount: 25000
                  tweetReplyCount: 10000
                  tweetQuoteCount: 5000
                  createdAt: '2025-01-15T12:00:00Z'
                winners: []
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /draws/{id}/export:
    get:
      operationId: exportDraw
      summary: Export draw data
      tags: [Draws]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - name: format
          in: query
          description: Export output format
          schema:
            type: string
            enum: [csv, json, md, md-document, pdf, txt, xlsx]
            default: csv
        - name: type
          in: query
          schema:
            type: string
            enum: [winners, entries]
            default: winners
          description: Export winners or all entries
      responses:
        '200':
          description: Exported draw file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Webhooks ─────────────────────────────────────────────
  /webhooks:
    get:
      operationId: listWebhooks
      summary: List webhooks
      tags: [Webhooks]
      security:
        - apiKey: []
        - oauthBearer: []
      responses:
        '200':
          description: Webhook list
          content:
            application/json:
              schema:
                type: object
                required: [webhooks]
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
                    example: []
              example:
                webhooks: []
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      operationId: createWebhook
      summary: Create webhook
      tags: [Webhooks]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description: HTTPS callback URL and event types to subscribe to.
        content:
          application/json:
            schema:
              type: object
              required: [url, eventTypes]
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS URL
                  example: 'https://example.com/webhook'
                eventTypes:
                  $ref: '#/components/schemas/EventTypeArray'
                  example: [tweet.new, follower.gained]
            example:
              url: 'https://example.com/webhook'
              eventTypes: [tweet.new, follower.gained]
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                required: [id, url, secret, eventTypes, createdAt]
                properties:
                  id:
                    type: string
                    example: '42'
                  url:
                    type: string
                    format: uri
                    example: 'https://example.com/webhook'
                  secret:
                    type: string
                    example: 'whsec_abc123def456'
                  eventTypes:
                    $ref: '#/components/schemas/EventTypeArray'
                    example: [tweet.new, follower.gained]
                  createdAt:
                    type: string
                    format: date-time
                    example: '2025-01-15T12:00:00Z'
              example:
                id: '42'
                url: 'https://example.com/webhook'
                secret: 'whsec_abc123def456'
                eventTypes: [tweet.new, follower.gained]
                createdAt: '2025-01-15T12:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'

        '402':
          $ref: '#/components/responses/PaymentRequired'
  /webhooks/{id}:
    patch:
      operationId: updateWebhook
      summary: Update webhook
      tags: [Webhooks]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        description: Updated URL, event types, or active status.
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  example: 'https://example.com/webhook'
                eventTypes:
                  $ref: '#/components/schemas/EventTypeArray'
                  example: [tweet.new]
                isActive:
                  type: boolean
                  example: true
            example:
              url: 'https://example.com/webhook'
              isActive: true
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
              example:
                id: '42'
                url: 'https://example.com/webhook'
                eventTypes: [tweet.new]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteWebhook
      summary: Deactivate webhook
      tags: [Webhooks]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      summary: List webhook deliveries
      tags: [Webhooks]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Delivery list
          content:
            application/json:
              schema:
                type: object
                required: [deliveries]
                properties:
                  deliveries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Delivery'
                    example: []
              example:
                deliveries: []
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /webhooks/{id}/test:
    post:
      operationId: testWebhook
      summary: Test webhook endpoint
      tags: [Webhooks]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object
                required: [success, statusCode]
                properties:
                  success:
                    type: boolean
                    example: true
                  statusCode:
                    type: integer
                    example: 200
                  error:
                    type: string
                    example: ''
              example:
                success: true
                statusCode: 200
        '400':
          description: Webhook inactive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: 'webhook_inactive'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Integrations ─────────────────────────────────────────
  /integrations:
    get:
      operationId: listIntegrations
      summary: List integrations
      tags: [Integrations]
      security:
        - apiKey: []
        - oauthBearer: []
      responses:
        '200':
          description: Integration list
          content:
            application/json:
              schema:
                type: object
                required: [integrations]
                properties:
                  integrations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Integration'
                    example: []
              example:
                integrations: []
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      operationId: createIntegration
      summary: Create integration
      tags: [Integrations]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description:
          Integration type, display name, platform config, and subscribed event
          types.
        content:
          application/json:
            schema:
              type: object
              required: [type, name, config, eventTypes]
              properties:
                type:
                  type: string
                  enum: [telegram]
                  x-stainless-const: true
                  example: telegram
                name:
                  type: string
                  example: 'My Telegram Bot'
                config:
                  type: object
                  required: [chatId]
                  properties:
                    chatId:
                      type: string
                      example: '-1001234567890'
                  description: Integration config (e.g. Telegram chatId)
                  example:
                    chatId: '-1001234567890'
                eventTypes:
                  $ref: '#/components/schemas/EventTypeArray'
                  example: [tweet.new, follower.gained]
            example:
              type: telegram
              name: 'My Telegram Bot'
              config:
                chatId: '-1001234567890'
              eventTypes: [tweet.new, follower.gained]
      responses:
        '201':
          description: Integration created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
              example:
                id: '42'
                type: telegram
                name: 'My Telegram Bot'
                config:
                  chatId: '-1001234567890'
                eventTypes: ['tweet.new', 'follower.gained']
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'

        '402':
          $ref: '#/components/responses/PaymentRequired'
  /integrations/{id}:
    get:
      operationId: getIntegration
      summary: Get integration details
      tags: [Integrations]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Integration details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
              example:
                id: '42'
                type: telegram
                name: 'My Telegram Bot'
                config:
                  chatId: '-1001234567890'
                eventTypes: ['tweet.new', 'follower.gained']
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateIntegration
      summary: Update integration
      tags: [Integrations]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        description:
          Updated name, event types, active status, or notification settings.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: 'My Telegram Bot'
                eventTypes:
                  $ref: '#/components/schemas/EventTypeArray'
                  example: [tweet.new]
                isActive:
                  type: boolean
                  example: true
                silentPush:
                  type: boolean
                  example: false
                scopeAllMonitors:
                  type: boolean
                  example: true
                messageTemplate:
                  type: object
                  additionalProperties: true
                  x-stainless-any: true
                  description: Custom message template (JSON)
                  x-stainless-terraform-type: string
                  example: {}
                filters:
                  type: object
                  additionalProperties: true
                  x-stainless-any: true
                  description: Event filter rules (JSON)
                  x-stainless-terraform-type: string
                  example: {}
            example:
              name: 'My Telegram Bot'
              isActive: true
      responses:
        '200':
          description: Integration updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
              example:
                id: '42'
                type: telegram
                name: 'My Telegram Bot'
                config:
                  chatId: '-1001234567890'
                eventTypes: ['tweet.new', 'follower.gained']
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteIntegration
      summary: Delete integration
      tags: [Integrations]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /integrations/{id}/deliveries:
    get:
      operationId: listIntegrationDeliveries
      summary: List integration delivery history
      tags: [Integrations]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Integration delivery list
          content:
            application/json:
              schema:
                type: object
                required: [deliveries]
                properties:
                  deliveries:
                    type: array
                    items:
                      $ref: '#/components/schemas/IntegrationDelivery'
                    example: []
              example:
                deliveries: []
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  /integrations/{id}/test:
    post:
      operationId: testIntegration
      summary: Send test delivery
      tags: [Integrations]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── X API (reads) ────────────────────────────────────────
  /x/tweets:
    get:
      operationId: getBatchTweets
      summary: Get multiple tweets by IDs
      tags:
        - Tweets
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated tweet IDs (max 100)
      responses:
        '200':
          description: List of tweets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTweets'
              example:
                tweets:
                  - id: '1234567890'
                    text: 'Just launched our new feature!'
                    createdAt: '2025-01-15T12:00:00Z'
                    likeCount: 42
                    retweetCount: 5
                    replyCount: 3
                    quoteCount: 1
                    viewCount: 1500
                    bookmarkCount: 2
                    author:
                      id: '9876543210'
                      username: 'elonmusk'
                      name: 'Elon Musk'
                      verified: true
                has_next_page: true
                next_cursor: 'DAACCgACGRElMJcAAA'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
    post:
      operationId: createTweet
      summary: Create tweet
      tags: [X Write]
      security:
        - apiKey: []
        - oauthBearer: []
      requestBody:
        required: true
        description:
          Account, tweet text, and optional reply, attachment, community, or
          media parameters.
        content:
          application/json:
            schema:
              type: object
              required: [account, text]
              properties:
                account:
                  type: string
                  description: X account (@username or account ID)
                  example: '@elonmusk'
                text:
                  type: string
                  example: 'Just launched our new feature!'
                reply_to_tweet_id:
                  type: string
                  example: '1234567890'
                attachment_url:
                  type: string
                  example: 'https://x.com/elonmusk/status/1234567890'
                community_id:
                  type: string
                  example: '1500000000000000000'
                is_note_tweet:
                  type: boolean
                  example: false
                media_ids:
                  type: array
                  items:
                    type: string
                  example: ['1234567890123456789']
            example:
              account: '@elonmusk'
              text: 'Just launched our new feature!'
      responses:
        '200':
          description: Tweet created
          content:
            application/json:
              schema:
                type: object
                required: [tweetId, success]
                properties:
                  tweetId:
                    type: string
                    example: '1234567890'
                  success:
                    type: boolean
                    const: true
                    example: true
              example:
                tweetId: '1234567890'
                success: true
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '500':
          $ref: '#/components/responses/WriteError'

  /x/trends:
    get:
      operationId: getXTrends
      summary: Get trending hashtags & topics from X by region
      tags:
        - Trends
      security:
        - apiKey: []
        - oauthBearer: []
        - {}
      x-payment-info:
        protocols:
          - x402: {}
          - mpp:
              method: ''
              intent: charge
              currency: ''
        price:
          mode: fixed
          amount: '0.00045'
          currency: USD
      parameters:
        - name: woeid
          in: query
          schema:
            type: integer
            default: 1
          description:
            'Region WOEID (1=Worldwide, 23424977=US, 23424975=UK,
            23424969=Turkey)'
        - name: count
          in: query
          description: Number of trending topics to return (1-50, default 30)
          schema:
            type: integer
            default: 30
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: List of trending topics
          content:
            application/json:
              schema:
                type: object
                required: [trends, count, woeid]
                properties:
                  trends:
                    type: array
                    items:
                      type: object
                      required: [name]
                      properties:
                        name:
                          type: string
                          example: '#AI'
                        description:
                          type: string
                          example: 'Artificial intelligence discussions'
                        query:
                          type: string
                          example: '%23AI'
                        rank:
                          type: integer
                          example: 1
                    example:
                      - name: '#AI'
                        description: 'Artificial intelligence discussions'
                        query: '%23AI'
                        rank: 1
                  count:
                    type: integer
                    example: 30
                  woeid:
                    type: integer
                    example: 1
              example:
                trends:
                  - name: '#AI'
                    description: 'Artificial intelligence discussions'
                    query: '%23AI'
                    rank: 1
                count: 30
                woeid: 1
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'

  /x/tweets/search:
    get:
      operationId: searchTweets
      summary: Search tweets with X query operators & pagination
      tags:
        - Tweets
      security:
        - apiKey: []
        - oauthBearer: []
        - {}
      x-payment-info:
        protocols:
          - x402: {}
          - mpp:
              method: ''
              intent: session
              currency: ''
        price:
          mode: dynamic
          min: '0.00015'
          max: '0.03000'
          currency: USD
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query (keywords, #hashtags, from:user, "exact phrases", since:YYYY-MM-DD, until:YYYY-MM-DD, min_faves:N)
        - name: queryType
          in: query
          required: false
          schema:
            type: string
            enum: [Latest, Top]
            default: Latest
          description:
            Sort order — Latest (chronological) or Top (engagement-ranked)
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination cursor from previous response
        - name: sinceTime
          in: query
          schema:
            type: string
          description: ISO 8601 timestamp — only return tweets after this time
        - name: untilTime
          in: query
          schema:
            type: string
          description: ISO 8601 timestamp — only return tweets before this time
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 20
            maximum: 200
          description:
            Max tweets to return (server paginates internally). Omit for single
            page (~20).
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTweets'
              example:
                tweets:
                  - id: '1234567890'
                    text: 'Just launched our new feature!'
                    createdAt: '2025-01-15T12:00:00Z'
                    likeCount: 42
                    retweetCount: 5
                    replyCount: 3
                    quoteCount: 1
                    viewCount: 1500
                    bookmarkCount: 2
                    author:
                      id: '9876543210'
                      username: 'elonmusk'
                      name: 'Elon Musk'
                      verified: true
                has_next_page: true
                next_cursor: 'DAACCgACGRElMJcAAA'
        '400':
          description: Missing query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: 'missing_query'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '502':
          $ref: '#/components/responses/XApiError'

  /x/articles/{tweetId}:
    get:
      operationId: getArticle
      summary: Get full X Article content with cover image & metadata
      description:
        Retrieve the full content of an X Article (long-form post) by tweet ID.
      tags:
        - Articles
      security:
        - apiKey: []
        - oauthBearer: []
        - {}
      x-payment-info:
        protocols:
          - x402: {}
          - mpp:
              method: ''
              intent: charge
              currency: ''
        price:
          mode: fixed
          amount: '0.00105'
          currency: USD
      parameters:
        - name: tweetId
          in: path
          required: true
          schema:
            type: string
          description: Tweet ID of the article
      responses:
        '200':
          description: Article with author
          content:
            application/json:
              schema:
                type: object
                required: [article]
                properties:
                  article:
                    type: object
                    properties:
                      title:
                        type: string
                        example: 'The Future of AI'
                      previewText:
                        type: string
                        example: 'A deep dive into the latest AI trends...'
                      coverImageUrl:
                        type: string
                        example: 'https://pbs.twimg.com/media/example.jpg'
                      contents:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              description:
                                'Block type: unstyled, header-one, header-two,
                                header-three, unordered-list-item,
                                ordered-list-item, image, gif, divider'
                              example: 'unstyled'
                            text:
                              type: string
                              example:
                                'This is the first paragraph of the article.'
                            url:
                              type: string
                              description: Media URL for image/gif blocks
                              example: 'https://pbs.twimg.com/media/example.jpg'
                            width:
                              type: integer
                              example: 1200
                            height:
                              type: integer
                              example: 675
                      createdAt:
                        type: string
                        example: '2025-01-15T12:00:00Z'
                      likeCount:
                        type: integer
                        example: 150
                      replyCount:
                        type: integer
                        example: 23
                      quoteCount:
                        type: integer
                        example: 8
                      viewCount:
                        type: integer
                        example: 5000
                  author:
                    $ref: '#/components/schemas/TweetAuthor'
              example:
                article:
                  title: 'The Future of AI'
                  previewText: 'A deep dive into the latest AI trends...'
                  coverImageUrl: 'https://pbs.twimg.com/media/example.jpg'
                  contents:
                    - type: 'unstyled'
                      text: 'This is the first paragraph of the article.'
                  createdAt: '2025-01-15T12:00:00Z'
                  likeCount: 150
                  replyCount: 23
                  quoteCount: 8
                  viewCount: 5000
                author:
                  id: '9876543210'
                  username: 'elonmusk'
                  followers: 150000000
                  verified: true
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '502':
          $ref: '#/components/responses/XApiError'

  /x/tweets/{id}:
    get:
      operationId: lookupTweet
      summary: Get tweet with full text, author, metrics & media
      tags:
        - Tweets
      security:
        - apiKey: []
        - oauthBearer: []
        - {}
      x-payment-info:
        protocols:
          - x402: {}
          - mpp:
              method: ''
              intent: charge
              currency: ''
        price:
          mode: fixed
          amount: '0.00015'
          currency: USD
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Tweet ID
      responses:
        '200':
          description: Tweet with author
          content:
            application/json:
              schema:
                type: object
                required: [tweet]
                properties:
                  tweet:
                    $ref: '#/components/schemas/TweetDetail'
                  author:
                    $ref: '#/components/schemas/TweetAuthor'
              example:
                tweet:
                  id: '1234567890'
                  text: 'Just launched our new feature!'
                  createdAt: '2025-01-15T12:00:00Z'
                  retweetCount: 5
                  replyCount: 3
                  likeCount: 42
                  quoteCount: 1
                  viewCount: 1500
                  bookmarkCount: 2
                author:
                  id: '9876543210'
                  username: 'elonmusk'
                  followers: 150000000
                  verified: true
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '502':
          $ref: '#/components/responses/XApiError'
    delete:
      operationId: deleteTweet
      summary: Delete tweet
      tags: [X Write]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Tweet ID to delete
      requestBody:
        required: true
        description: Account that owns the tweet.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XAccountBody'
            example:
              account: '@elonmusk'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/WriteError'

  /x/tweets/{id}/like:
    post:
      operationId: likeTweet
      summary: Like tweet
      tags: [X Write]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Tweet ID to like
      requestBody:
        required: true
        description: Account to perform the like.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XAccountBody'
            example:
              account: '@elonmusk'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '500':
          $ref: '#/components/responses/WriteError'
    delete:
      operationId: unlikeTweet
      summary: Unlike tweet
      tags: [X Write]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Tweet ID to unlike
      requestBody:
        required: true
        description: Account that liked the tweet.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XAccountBody'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '500':
          $ref: '#/components/responses/WriteError'

  /x/tweets/{id}/retweet:
    post:
      operationId: retweet
      summary: Retweet
      tags: [X Write]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Tweet ID to retweet
      requestBody:
        required: true
        description: Account to perform the retweet.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XAccountBody'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '500':
          $ref: '#/components/responses/WriteError'
    delete:
      operationId: unretweet
      summary: Unretweet
      tags: [X Write]
      security:
        - apiKey: []
        - oauthBearer: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Tweet ID to unretweet
      requestBody:
        required: true
        description: Account that retweeted the tweet.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XAccountBody'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '500':
          $ref: '#/components/responses/WriteError'

  /x/users/{id}:
    get:
      operationId: getUser
      summary: Get user profile with follower counts & verification
      tags:
        - Users
      security:
        - apiKey: []
        - oauthBearer: []
        - {}
      x-payment-info:
        protocols:
          - x402: {}
          - mpp:
              method: ''
              intent: charge
              currency: ''
        price:
          mode: fixed
          amount: '0.00015'
          currency: USD
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
[...]
