openapi: 3.1.0
info:
  title: Xquik API
  version: '1.0'
  description: >-
    Xquik is an independent third-party service. Not affiliated with X Corp.
    "Twitter" and "X" are trademarks of X Corp. Read and automate X. Paid reads
    accept credits. Some lookups accept MPP. Writes require API key or OAuth
    2.1. Shared-account reads return public posts only.


    ## Rate limits


    Every authenticated response carries `RateLimit-Policy`, your limit for that
    kind of request, and `RateLimit`, your requests left & seconds until the
    window resets. A refused request gets 429 with `Retry-After`.


    ## Client Libraries


    [SDK, CLI, Terraform](https://docs.xquik.com/sdks),
    [TweetClaw](https://docs.xquik.com/guides/tweetclaw), and [version
    deprecation](https://xquik.com/deprecation-policy.md).
  contact:
    name: Xquik
    url: https://xquik.com
    email: support@xquik.com
  license:
    name: Proprietary
    url: https://xquik.com/en/terms

servers:
  - url: https://xquik.com/api/v1

x-service-info:
  categories:
    - data
  docs:
    homepage: https://xquik.com
    apiReference: https://docs.xquik.com
    llms: https://docs.xquik.com/llms.txt

x-discovery:
  ownershipProofs:
    - 'dns:xquik.com'

security: &api-auth [{ apiKey: [] }, { oauthBearer: [] }]

tags:
  - name: API Keys
    description: API key management (session auth only)
  - name: Account
    description: Account info and settings
  - name: Agent Discovery
    description: Public agent discovery and documentation search
  - name: Analysis
    description: AI analysis of posts, at 2 credits per analyzed post
  - name: Articles
    description: Long-form X Article extraction
  - name: Broadcasts
    description: X live video details, watch counts, and broadcaster
  - name: Communities
    description: Find X Communities & read their info, members, posts & media
  - name: Composition
    description: AI tweet composition, drafts, writing styles, and radar
  - name: Draws
    description: Giveaway draws from tweet replies
  - name: Events
    description: Activity events from monitored accounts
  - name: Extractions
    description: Saved or bulk data extraction (23 tool types)
  - name: Guest Wallets
    description: Accountless prepaid access for paid read endpoints
  - name: Jobs
    description: Public X job listings, search and details
  - name: Lists
    description: X List search, details, followers, members, and tweets
  - name: Media
    description: Media upload and download
  - name: Monitors
    description: X account monitoring with 1-second checks
  - name: Spaces
    description: X Space details, host, and speakers
  - name: Subscribe
    description: Subscription, billing, and credits
  - name: Support
    description: Support ticket management
  - name: Trends
    description: Trending topics and hashtags by region
  - name: Tweets
    description: Look up, search, and analyze individual tweets
  - name: Users
    description: Look up, search, and explore user profiles and relationships
  - name: Webhooks
    description: Webhook endpoint management and delivery
  - name: X Accounts
    description: Connected X account management
  - name: X Write
    description: X write actions (tweets, likes, follows, DMs)
paths:
  /ask:
    servers:
      - url: https://xquik.com
    post:
      operationId: searchXquikDocumentation
      x-mcp-exclusion-reason:
        &agent-discovery Public agent discovery remains direct.
      summary: Search Xquik documentation with NLWeb
      description: >-
        Search public Xquik docs with NLWeb 0.55. This read-only route accepts
        flat and structured requests. Never send secrets or private data.
      tags: [Agent Discovery]
      security: [{}]
      requestBody:
        description: Flat or structured NLWeb request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NlwebAskRequest'
            examples:
              flat:
                summary: 'A flat request'
                value:
                  query: 'How does MCP OAuth work?'
                  site: 'docs.xquik.com'
                  streaming: false
                  response_format: 'conversational_search'
                  mode: 'list'
                  context:
                    previous_query: 'How does OAuth work?'
                  meta:
                    api_version: '0.55'
              structured:
                summary: 'A structured request'
                value:
                  query:
                    text: 'How does MCP OAuth work?'
                    site: 'docs.xquik.com'
                  prefer:
                    mode: 'list'
                    response_format: 'chatgpt_app'
                    streaming: false
                  meta:
                    api_version: '0.55'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NlwebAskRequest'
      responses:
        '200':
          description: Documentation results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NlwebAnswer'
              example:
                _meta:
                  response_format: conversational_search
                  response_type: answer
                  version: '0.55'
                results: []
            text/event-stream:
              schema:
                type: string
        '400':
          description: Invalid or unsupported NLWeb request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NlwebFailure'
              example:
                _meta: { response_type: failure, version: '0.55' }
                error:
                  code: INVALID_QUERY
                  message: 'Request is invalid. Send a valid NLWeb query.'
        '413':
          description: Request body exceeds 8 KiB.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NlwebFailure'
              example:
                _meta: { response_type: failure, version: '0.55' }
                error:
                  code: TOKEN_LIMIT
                  message: 'Request is too large. Send less context.'
        '502':
          description: Documentation search is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NlwebFailure'
              example:
                _meta: { response_type: failure, version: '0.55' }
                error:
                  code: INTERNAL_ERROR
                  message: 'Search is unavailable. Retry later.'
    get:
      operationId: searchXquikDocumentationWithQuery
      x-mcp-exclusion-reason: *agent-discovery
      summary: Search Xquik documentation with query parameters
      description: Send a flat NLWeb 0.55 request through query parameters.
      tags: [Agent Discovery]
      security: [{}]
      parameters:
        - name: query
          in: query
          required: true
          description: Natural-language docs query.
          schema: { type: string, minLength: 1, maxLength: 500 }
        - name: site
          in: query
          description: Optional docs host.
          schema: { type: string, enum: [docs.xquik.com, xquik.com] }
        - name: mode
          in: query
          description: List result mode.
          schema: { type: string, const: list }
        - name: response_format
          in: query
          description: NLWeb response shape.
          schema:
            type: string
            enum: [chatgpt_app, conversational_search]
            default: conversational_search
        - name: streaming
          in: query
          description: Return SSE when true.
          schema: { type: boolean, default: false }
      responses:
        '200': { $ref: '#/paths/~1ask/post/responses/200' }
        '400': { $ref: '#/paths/~1ask/post/responses/400' }
        '413': { $ref: '#/paths/~1ask/post/responses/413' }
        '502': { $ref: '#/paths/~1ask/post/responses/502' }

  # ── Account ──────────────────────────────────────────────
  /account:
    get:
      operationId: getAccount
      description:
        Returns plan, credit, monitoring, and account settings for the
        authenticated user.
      summary: Get account info
      tags: [Account]
      security: *api-auth
      responses:
        '200':
          description: Account info
          content:
            application/json:
              schema:
                type: object
                required:
                  [
                    plan,
                    subscription,
                    monitorsUsed,
                    monitorsAllowed,
                    monitorBilling,
                  ]
                properties:
                  plan:
                    type: string
                    enum: [active, inactive]
                    example: active
                  subscription:
                    type: object
                    description:
                      Subscription state without billing provider identifiers.
                    required: [status]
                    properties:
                      status:
                        type: string
                        enum: [none, active, past_due, canceling, incomplete]
                        example: active
                      tier:
                        type: string
                        enum: [starter, pro, business]
                        example: pro
                      currentPeriodStart:
                        type: string
                        format: date-time
                        example: '2026-09-01T00:00:00.000Z'
                      currentPeriodEnd:
                        type: string
                        format: date-time
                        description:
                          Renewal date, or the end date when canceling.
                        example: '2026-10-01T00:00:00.000Z'
                  monitorsUsed:
                    type: integer
                    minimum: 0
                    example: 3
                  monitorsAllowed:
                    type: integer
                    minimum: 0
                    deprecated: true
                    x-stainless-deprecation-message:
                      Monitor slots are unlimited. Use
                      monitorBilling.unlimitedSlots instead.
                    description:
                      Deprecated. Monitor slots are unlimited, so this is always
                      Number.MAX_SAFE_INTEGER.
                    example: 9007199254740991
                  monitorBilling:
                    type: object
                    required:
                      [
                        activeDailyEstimate,
                        activeHourlyBurn,
                        creditsPerActiveMonitorDay,
                        creditsPerActiveMonitorHour,
                        eventsIncluded,
                        instantCheckIntervalSeconds,
                        unlimitedSlots,
                      ]
                    properties:
                      activeDailyEstimate:
                        type: string
                        minLength: 1
                        maxLength: 13
                        pattern: &nonnegative-credit-string '^(0|[1-9][0-9]*)$'
                        not: &credit-whitespace
                          type: string
                          pattern: '\s'
                        description:
                          Estimated daily credits for currently active monitors.
                        example: '1500'
                      activeHourlyBurn:
                        type: string
                        minLength: 1
                        maxLength: 11
                        pattern: *nonnegative-credit-string
                        not: *credit-whitespace
                        description:
                          Credits charged each hour for currently active
                          monitors.
                        example: '63'
                      creditsPerActiveMonitorDay:
                        type: string
                        enum: ['500']
                        description:
                          Rounded daily estimate for 1 active monitor.
                        example: '500'
                      creditsPerActiveMonitorHour:
                        type: string
                        enum: ['21']
                        description:
                          Hourly credits charged for 1 active monitor.
                        example: '21'
                      eventsIncluded:
                        type: boolean
                        description:
                          Webhook and event deliveries are included in monitor
                          billing.
                        example: true
                      instantCheckIntervalSeconds:
                        type: integer
                        minimum: 1
                        description: Active monitors check every 1 second.
                        example: 1
                      unlimitedSlots:
                        type: boolean
                        description: Monitor slot count is unlimited.
                        example: true
                  creditInfo:
                    type: object
                    required:
                      [
                        balance,
                        lifetimePurchased,
                        lifetimeUsed,
                        autoTopupEnabled,
                        autoTopupStopped,
                        autoTopupAmountDollars,
                        autoTopupThreshold,
                      ]
                    properties:
                      balance:
                        type: string
                        minLength: 1
                        maxLength: 19
                        pattern: *nonnegative-credit-string
                        not: *credit-whitespace
                        description:
                          Bigint string to preserve precision above
                          Number.MAX_SAFE_INTEGER.
                        example: '50000'
                      lifetimePurchased:
                        type: string
                        minLength: 1
                        maxLength: 20
                        pattern: &signed-credit-string '^(0|-?[1-9][0-9]*)$'
                        not: *credit-whitespace
                        description: Total purchased credits as a bigint string.
                        example: '140000'
                      lifetimeUsed:
                        type: string
                        minLength: 1
                        maxLength: 20
                        pattern: *signed-credit-string
                        not: *credit-whitespace
                        description: Total consumed credits as a bigint string.
                        example: '90000'
                      autoTopupEnabled: &boolean-example-false
                        type: boolean
                        example: false
                      autoTopupStopped:
                        type: boolean
                        description:
                          True when 3 declined charges in a row on one card
                          stopped automatic top-up while it stays enabled. A
                          paid top-up, a paid plan renewal, or the next
                          automatic top-up on a new card clears it.
                        example: false
                      autoTopupAmountDollars:
                        type: number
                        description:
                          Dollar amount charged when automatic top-up runs.
                        example: 10
                      autoTopupThreshold:
                        type: string
                        enum: ['10000', '50000', '100000', '250000']
                        description:
                          Bigint string threshold that triggers automatic top-up
                          when enabled.
                        example: '50000'
                  xUsername:
                    type: string
                    description:
                      Linked X username, omitted when no X account is connected.
                    example: elonmusk
              example:
                plan: active
                subscription:
                  status: active
                  tier: pro
                  currentPeriodStart: '2026-09-01T00:00:00.000Z'
                  currentPeriodEnd: '2026-10-01T00:00:00.000Z'
                monitorsUsed: 3
                monitorsAllowed: 9007199254740991
                monitorBilling:
                  activeDailyEstimate: '1500'
                  activeHourlyBurn: '63'
                  creditsPerActiveMonitorDay: '500'
                  creditsPerActiveMonitorHour: '21'
                  eventsIncluded: true
                  instantCheckIntervalSeconds: 1
                  unlimitedSlots: true
                creditInfo:
                  balance: '50000'
                  lifetimePurchased: '140000'
                  lifetimeUsed: '90000'
                  autoTopupEnabled: false
                  autoTopupStopped: false
                  autoTopupAmountDollars: 10
                  autoTopupThreshold: '50000'
                xUsername: elonmusk
        '401': &unauthenticated-response
          $ref: '#/components/responses/Unauthenticated'
        '429': &rate-limit-exceeded-response
          $ref: '#/components/responses/RateLimitExceeded'
    patch:
      operationId: updateAccount
      description:
        Changes the locale used for account responses and notifications.
      summary: Update account locale
      tags: [Account]
      security: *api-auth
      requestBody:
        required: true
        description: Locale preference for the account.
        content:
          application/json:
            schema:
              type: object
              required: [locale]
              properties:
                locale:
                  type: string
                  enum: [en, tr, es]
                  example: en
            example:
              locale: en
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400': &invalid-input-response
          $ref: '#/components/responses/InvalidInput'
        '401': *unauthenticated-response

        '429': *rate-limit-exceeded-response
  /account/x-identity:
    put:
      operationId: setXIdentity
      description: Links an X username to the authenticated Xquik account.
      summary: Set linked X username
      tags: [Account]
      security: *api-auth
      requestBody:
        required: true
        description: X username to link to this account.
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  description: X username without @
                  example: elonmusk
            example:
              username: elonmusk
      responses:
        '200':
          description: X identity linked
          content:
            application/json:
              schema:
                type: object
                required: [success, xUsername]
                properties:
                  success: &boolean-true
                    type: boolean
                    const: true
                  xUsername: &handle-example-schema
                    type: string
                    example: elonmusk
              example:
                success: true
                xUsername: elonmusk
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response

  # ── API Keys ─────────────────────────────────────────────
  /api-keys:
    get:
      operationId: listApiKeys
      x-mcp-exclusion-reason:
        &browser-auth Credential management requires browser auth.
      description: Returns API key metadata without exposing secret key values.
      summary: List API keys
      tags: [API Keys]
      security: [{ cookieSession: [] }]
      parameters: &list-limit-after-parameters
        - $ref: '#/components/parameters/ListLimit'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: API key list
          content:
            application/json:
              schema:
                type: object
                required: [keys, hasMore]
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
                    example: []
                  hasMore: *boolean-example-false
                  nextCursor: &short-id-example-schema
                    type: string
                    example: 'abc123'
              example:
                keys: []
                hasMore: false
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createApiKey
      x-mcp-exclusion-reason: *browser-auth
      description: Creates a revocable API key and returns its secret once.
      summary: Create API key
      tags: [API Keys]
      security: [{ cookieSession: [] }]
      requestBody:
        required: true
        description: Optional display name for the new API key.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: My API Key
            example:
              name: My API Key
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                required: [id, fullKey, name, prefix, createdAt]
                properties:
                  id: &resource-id-example-schema
                    type: string
                    example: '42'
                  fullKey:
                    type: string
                    example: xq_live_example_key
                  name:
                    type: string
                    example: My API Key
                  prefix:
                    type: string
                    example: xq_live_exam
                  createdAt: &created-at-schema
                    type: string
                    format: date-time
                    example: '2025-01-15T12:00:00Z'
              example:
                id: '42'
                fullKey: xq_live_example_key
                name: My API Key
                prefix: xq_live_exam
                createdAt: '2025-01-15T12:00:00Z'
        '401': *unauthenticated-response
        '403':
          description: API key limit reached
          content:
            application/json:
              schema:
                type: object
                required: [error, limit, message]
                properties:
                  error:
                    type: string
                    const: api_key_limit_reached
                    example: api_key_limit_reached
                  limit:
                    type: integer
                    minimum: 1
                    example: 100
                  message:
                    type: string
                    example:
                      API key limit reached. Delete an existing key first.
              example:
                error: api_key_limit_reached
                limit: 100
                message: API key limit reached. Delete an existing key first.
        '429': *rate-limit-exceeded-response
  /api-keys/{id}:
    delete:
      operationId: revokeApiKey
      x-mcp-exclusion-reason: *browser-auth
      description: Permanently revokes the selected API key.
      summary: Revoke API key
      tags: [API Keys]
      security: [{ cookieSession: [] }]
      parameters: &resource-id-parameters
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': &not-found-response
          $ref: '#/components/responses/NotFound'
        '429': *rate-limit-exceeded-response

  # ── Subscribe ────────────────────────────────────────────
  /subscribe:
    post:
      operationId: subscribe
      summary: Create subscription checkout
      description: >
        Create a subscription checkout or billing-management URL only after the
        user confirms. The request never completes payment by itself.
      tags: [Subscribe]
      security: *api-auth
      requestBody:
        required: false
        description: Optional subscription tier to pre-select at checkout.
        content:
          application/json:
            schema:
              type: object
              properties:
                tier:
                  type: string
                  enum: [starter, pro, business]
                  description: Subscription tier to pre-select.
                  example: pro
            example:
              tier: pro
      responses:
        '200':
          description: Billing URL
          content:
            application/json:
              schema:
                type: object
                required: [url, status, message]
                properties:
                  url:
                    type: string
                    format: uri
                    example: 'https://xquik.com/billing/session'
                  status:
                    type: string
                    enum: [checkout_created, already_subscribed, payment_issue]
                    example: checkout_created
                  message:
                    type: string
                    example: Billing session created
              example:
                url: 'https://xquik.com/billing/session'
                status: checkout_created
                message: Billing session created
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response

  # ── Composition ──────────────────────────────────────────
  /compose:
    post:
      operationId: compose
      x-mcp-annotations: { readOnlyHint: true }
      summary: Build, refine, or check a post draft
      description:
        Uses xai-org/x-algorithm facts to compose and refine text. Score checks
        text. It never predicts reach or engagement.
      tags: [Composition]
      security: *api-auth
      requestBody:
        required: true
        description: Send exactly one workflow step and its required fields.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ComposePrepareRequest'
                - $ref: '#/components/schemas/ComposeRefineRequest'
                - $ref: '#/components/schemas/ComposeScoreRequest'
            examples:
              compose:
                summary: 'Start a draft'
                value:
                  step: 'compose'
                  topic: 'PostgreSQL query planning'
                  goal: 'engagement'
                  styleUsername: 'example_user'
              refine:
                summary: 'Refine the draft'
                value:
                  step: 'refine'
                  topic: 'PostgreSQL query planning'
                  goal: 'authority'
                  tone: 'professional'
                  mediaType: 'photo'
                  callToAction: 'Reply with your slowest query.'
                  additionalContext:
                    'Audience: backend engineers. Keep it under 280 characters.'
              score:
                summary: 'Check a finished draft'
                value:
                  step: 'score'
                  draft:
                    'EXPLAIN ANALYZE shows where PostgreSQL spends its time. Run
                    it on your slowest query today.'
                  hasLink: false
                  hasMedia: false
      responses:
        '200':
          description: Result for the requested workflow step
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ComposePrepareResult'
                  - $ref: '#/components/schemas/ComposeRefineResult'
                  - $ref: '#/components/schemas/ComposeScoreResult'
              example:
                checklist:
                  - factor: Draft contains text
                    passed: true
                nextStep: >
                  Draft accepted. Publish through POST /api/v1/x/tweets or use
                  intentUrl.
                passed: true
                passedCount: 1
                topSuggestion: >-
                  No deterministic ranking score exists. Ranking uses per-viewer
                  predictions.
                totalChecks: 1
                intentUrl: >-
                  https://x.com/intent/tweet?text=PostgreSQL%2018%20reduced%20query%20latency
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
  /drafts:
    get:
      operationId: listDrafts
      description: Lists private Xquik drafts. It cannot access native X drafts.
      summary: List saved drafts
      tags: [Composition]
      security: *api-auth
      parameters:
        - $ref: '#/components/parameters/Limit'
        - name: afterCursor
          in: query
          schema:
            type: string
          description: Cursor for pagination. The after alias also works.
      responses:
        '200':
          description: Draft list
          content:
            application/json:
              schema:
                type: object
                required: [drafts, hasMore]
                properties:
                  drafts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Draft'
                    example: []
                  hasMore: *boolean-example-false
                  nextCursor: *short-id-example-schema
              example:
                drafts: []
                hasMore: false
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createDraft
      description:
        Stores a private Xquik draft. It never publishes or creates native X
        drafts.
      summary: Save a tweet draft
      tags: [Composition]
      security: *api-auth
      requestBody:
        required: true
        description: Draft text with optional topic and optimization goal.
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  example: 'AI is the future of productivity'
                topic:
                  type: string
                  example: 'AI trends'
                goal:
                  type: string
                  enum: [engagement, followers, authority, conversation]
                  example: engagement
            example:
              text: 'AI is the future of productivity'
              topic: 'AI trends'
              goal: engagement
      responses:
        '201':
          description: Draft created
          content: &draft-detail-content
            application/json:
              schema:
                $ref: '#/components/schemas/DraftDetail'
              example:
                id: '42'
                text: 'AI is the future of productivity'
                topic: 'AI trends'
                goal: engagement
                createdAt: '2025-01-15T12:00:00Z'
                updatedAt: '2025-01-16T09:30:00Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
  /drafts/{id}:
    get:
      operationId: getDraft
      description:
        Returns one private Xquik draft. Native X drafts remain inaccessible.
      summary: Get draft by ID
      tags: [Composition]
      security: *api-auth
      parameters: *resource-id-parameters
      responses:
        '200':
          description: Draft details
          content: *draft-detail-content
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    delete:
      operationId: deleteDraft
      description:
        Deletes one Xquik draft, not native X drafts or published posts.
      summary: Delete a draft
      tags: [Composition]
      security: *api-auth
      parameters: *resource-id-parameters
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /styles:
    get:
      operationId: listStyles
      description: Returns cached writing style profiles for the account.
      summary: List cached style profiles
      tags: [Composition]
      security: *api-auth
      parameters: *list-limit-after-parameters
      responses:
        '200':
          description: Style profile list
          content:
            application/json:
              schema:
                type: object
                required: [styles, hasMore]
                properties:
                  styles:
                    type: array
                    items:
                      $ref: '#/components/schemas/StyleProfileSummary'
                    example: []
                  hasMore: *boolean-example-false
                  nextCursor: *short-id-example-schema
              example:
                styles: []
                hasMore: false
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: analyzeStyle
      description: Builds a writing style profile from recent public posts.
      summary: Analyze writing style from recent tweets
      tags: [Composition]
      security: *api-auth
      requestBody:
        required: true
        description: X username whose recent tweets define the style.
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  description: X username to analyze
                  example: elonmusk
            example:
              username: elonmusk
      responses:
        '200':
          description: Fresh cached style profile returned
          content: &style-profile-content-with-example
            application/json:
              schema:
                $ref: '#/components/schemas/StyleProfile'
        '201':
          description: Style profile created or refreshed
          content: *style-profile-content-with-example
        '400': *invalid-input-response
        '401': *unauthenticated-response

        '402': &payment-required-response
          $ref: '#/components/responses/PaymentRequired'
        '429': *rate-limit-exceeded-response
  /styles/compare:
    get:
      operationId: compareStyles
      description:
        Compares language and engagement signals across two style profiles.
      summary: Compare two style profiles
      tags: [Composition]
      security: *api-auth
      parameters:
        - name: username1
          in: query
          required: true
          schema:
            type: string
          description: First username to compare
        - name: username2
          in: query
          required: true
          schema:
            type: string
          description: Second username to compare
      responses:
        '200':
          description: Style comparison
          content:
            application/json:
              schema:
                type: object
                required: [style1, style2]
                properties:
                  style1:
                    $ref: '#/components/schemas/StyleProfile'
                  style2:
                    $ref: '#/components/schemas/StyleProfile'
              example:
                style1: &style-profile-example
                  xUsername: 'elonmusk'
                  tweetCount: 50
                  isOwnAccount: true
                  fetchedAt: '2025-01-15T12:00:00Z'
                  tweets:
                    - id: '1234567890'
                      text: &launch-text 'Just launched our new feature!'
                style2:
                  xUsername: 'BillGates'
                  tweetCount: 40
                  isOwnAccount: false
                  fetchedAt: '2025-01-15T12:00:00Z'
                  tweets:
                    - id: '9876543210'
                      text: 'Climate change is a global challenge.'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /styles/{id}:
    get:
      operationId: getStyle
      description: Returns one cached writing style profile.
      summary: Get cached style profile
      tags: [Composition]
      security: *api-auth
      parameters: &style-id-parameters
        - $ref: '#/components/parameters/StyleId'
      responses:
        '200':
          description: Style profile
          content: *style-profile-content-with-example
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    put:
      operationId: saveStyle
      description: Creates or replaces a style profile from supplied posts.
      summary: Save style profile with custom tweets
      tags: [Composition]
      security: *api-auth
      parameters: *style-id-parameters
      requestBody:
        required: true
        description: Sample tweets that define the style profile.
        content:
          application/json:
            schema:
              type: object
              required: [tweets]
              properties:
                label:
                  type: string
                  description:
                    Optional display label. When sent, it must match the path
                    ID, ignoring case and a leading @. The path ID names the
                    style when it is left out.
                  example: 'Professional Voice'
                tweets:
                  type: array
                  items:
                    type: object
                    required: [text]
                    properties:
                      text:
                        type: string
                        example: 'Excited to share our latest research.'
                  description: Array of tweet objects
                  example:
                    - text:
                        &research-text 'Excited to share our latest research.'
            example:
              label: 'Professional Voice'
              tweets:
                - text: *research-text
      responses:
        '200':
          description: Style profile saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StyleProfile'
              example:
                xUsername: 'professional voice'
                tweetCount: 1
                isOwnAccount: false
                fetchedAt: '2026-08-02T18:30:00.000Z'
                tweets:
                  - id: '0'
                    text: *research-text
                    authorUsername: 'professional voice'
                    createdAt: '2026-08-02T18:30:00.000Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    delete:
      operationId: deleteStyle
      description: Permanently removes one cached style profile.
      summary: Delete a style profile
      tags: [Composition]
      security: *api-auth
      parameters: *style-id-parameters
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /styles/{id}/performance:
    get:
      operationId: getStylePerformance
      description: Returns engagement metrics for an analyzed public X profile.
      summary: Get engagement metrics for style tweets
      tags: [Composition]
      security: *api-auth
      parameters: *style-id-parameters
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                type: object
                required: [xUsername, tweetCount, tweets]
                properties:
                  xUsername: *handle-example-schema
                  tweetCount:
                    type: integer
                    minimum: 0
                    example: 5
                  tweets:
                    type: array
                    items:
                      type: object
                      required: [id, text]
                      properties:
                        id: &tweet-id-example-schema
                          type: string
                          example: '1234567890'
                        text:
                          type: string
                          example: 'Excited to share our latest research.'
                        likeCount:
                          type: integer
                          minimum: 0
                          example: 120
                        retweetCount:
                          type: integer
                          minimum: 0
                          example: 15
                        replyCount:
                          type: integer
                          minimum: 0
                          example: 8
                        quoteCount:
                          type: integer
                          minimum: 0
                          example: 3
                        bookmarkCount:
                          type: integer
                          minimum: 0
                          example: 42
                        viewCount:
                          type: integer
                          minimum: 0
                          example: 5000
                    example:
                      - id: '1234567890'
                        text: *research-text
                        likeCount: 120
                        retweetCount: 15
                        replyCount: 8
                        quoteCount: 3
                        bookmarkCount: 42
                        viewCount: 5000
        '401': *unauthenticated-response
        '402': *payment-required-response
        '404': *not-found-response
        '422':
          $ref: '#/components/responses/InvalidInput'
        '429': *rate-limit-exceeded-response

  /radar:
    get:
      operationId: getRadar
      description: Returns current topics and sources for writing research.
      summary: Get trending topics from curated sources
      tags: [Composition]
      security: *api-auth
      parameters:
        - name: after
          in: query
          schema:
            type: string
          description: Cursor for pagination (from prior response nextCursor).
        - name: category
          in: query
          schema:
            type: string
            enum:
              &radar-category-values [
                general,
                tech,
                dev,
                science,
                culture,
                politics,
                business,
                entertainment,
              ]
          description: Filter by category.
        - name: hours
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 72
            default: 6
          description: Lookback window in hours (1-72, default 6).
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Number of items to return (1-100, default 50).
        - name: region
          in: query
          schema:
            type: string
            default: global
          description:
            Region filter. Use `global` or a region code such as `US`, `GB`,
            `TR`, or `ES`.
        - name: source
          in: query
          schema:
            type: string
            enum:
              &radar-source-values [
                github,
                google_trends,
                hacker_news,
                polymarket,
                reddit,
                trustmrr,
                wikipedia,
              ]
          description:
            'Source filter. One of: github, google_trends, hacker_news,
            polymarket, reddit, trustmrr, wikipedia'
      responses:
        '200':
          description: Radar items
          content:
            application/json:
              schema:
                type: object
                required: [hasMore, items]
                properties:
                  hasMore: *boolean-example-false
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RadarItem'
                    example: []
                  nextCursor:
                    type: string
                    description:
                      Opaque cursor for the next page (present only when hasMore
                      is true).
                    example: 'eyJ0IjoxNzM5OTcyODAwLCJpIjoiOTk5In0='
              example:
                hasMore: false
                items: []
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response

  # ── Monitors ─────────────────────────────────────────────
  /monitors:
    get:
      operationId: listMonitors
      description: Returns account monitors with their current operating states.
      summary: List monitors
      tags: [Monitors]
      security: *api-auth
      parameters: *list-limit-after-parameters
      responses:
        '200':
          description: Monitor list
          content:
            application/json:
              schema:
                type: object
                required: [monitors, total, hasMore]
                properties:
                  monitors:
                    type: array
                    items:
                      $ref: '#/components/schemas/Monitor'
                    example: []
                  total:
                    description: Account monitors on this page.
                    type: integer
                    minimum: 0
                    example: 0
                  hasMore: *boolean-example-false
                  nextCursor: *short-id-example-schema
              example:
                monitors: []
                total: 0
                hasMore: false
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createMonitor
      summary: Create monitor
      description:
        Creates an account monitor, with no count limit. Active monitors check
        every second for 21 credits an hour, events & webhook deliveries
        included. Creation needs credits for the first hour & the lookup.
      tags: [Monitors]
      security: &api-auth-2 [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: true
        description: Target X username and event types to monitor.
        content:
          application/json:
            schema:
              type: object
              required: [username, eventTypes]
              properties:
                username:
                  type: string
                  description: X username (without @)
                  example: elonmusk
                name:
                  type: string
                  minLength: 1
                  maxLength: 80
                  description:
                    Your label for the monitor. Its events carry it as
                    monitorName. Whitespace is normalized.
                  example: Launch watch
                eventTypes: &event-types
                  type: array
                  $ref: '#/components/schemas/EventTypeArray'
                  example: [tweet.new, tweet.reply]
            example:
              username: 'elonmusk'
              name: 'Launch watch'
              eventTypes:
                - 'tweet.new'
                - 'tweet.reply'
      responses:
        '201':
          description: Monitor created
          content:
            application/json:
              schema:
                type: object
                required:
                  [
                    id,
                    username,
                    xUserId,
                    eventTypes,
                    isActive,
                    createdAt,
                    nextBillingAt,
                  ]
                properties:
                  id: *resource-id-example-schema
                  username: *handle-example-schema
                  xUserId: *tweet-id-example-schema
                  eventTypes: *event-types
                  isActive: &boolean-example-true
                    type: boolean
                    example: true
                  createdAt: *created-at-schema
                  nextBillingAt:
                    type: string
                    format: date-time
                    description:
                      Next hourly credit charge time. New active monitors are
                      due immediately.
                    example: '2025-01-15T12:00:00Z'
              example:
                id: '42'
                username: elonmusk
                xUserId: '1234567890'
                eventTypes: [tweet.new, tweet.reply]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
                nextBillingAt: '2025-01-15T12:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402': *payment-required-response
        '404': &user-not-found-response
          $ref: '#/components/responses/UserNotFound'
        '409':
          description: Monitor already exists
          content:
            application/json:
              schema: &error-schema
                $ref: '#/components/schemas/Error'
              example:
                error: 'monitor_already_exists'
                message: 'Monitor already exists.'
        '429': *rate-limit-exceeded-response

  /monitors/keywords:
    get:
      operationId: listKeywordMonitors
      description: Returns keyword monitors with their current operating states.
      summary: List keyword monitors
      tags: [Monitors]
      security: *api-auth
      parameters: *list-limit-after-parameters
      responses:
        '200':
          description: Keyword monitor list
          content:
            application/json:
              schema:
                type: object
                required: [monitors, total, hasMore]
                properties:
                  monitors:
                    type: array
                    items:
                      $ref: '#/components/schemas/KeywordMonitor'
                    example: []
                  total:
                    description: Keyword monitors on this page.
                    type: integer
                    minimum: 0
                    example: 0
                  hasMore: *boolean-example-false
                  nextCursor: *short-id-example-schema
              example:
                monitors: []
                total: 0
                hasMore: false
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createKeywordMonitor
      summary: Create keyword monitor
      description:
        Creates a keyword monitor, with no count limit. Active monitors check
        every second for 21 credits per hour, including events & webhook
        deliveries. Creation needs credits for the first hour.
      tags: [Monitors]
      security: *api-auth-2
      requestBody:
        required: true
        description: Search query and event types to monitor.
        content:
          application/json:
            schema:
              type: object
              required: [query, eventTypes]
              properties:
                query:
                  type: string
                  minLength: 1
                  maxLength: 512
                  description:
                    X search query to monitor. Whitespace is normalized.
                  example: 'xquik OR "x api"'
                name:
                  type: string
                  minLength: 1
                  maxLength: 80
                  description:
                    Your own label for the keyword monitor. Its events carry it
                    as monitorName.
                  example: Launch mentions
                eventTypes: &single-event-type
                  type: array
                  $ref: '#/components/schemas/EventTypeArray'
                  example: [tweet.new]
            example:
              query: 'xquik OR "x api"'
              name: 'Launch mentions'
              eventTypes:
                - 'tweet.new'
      responses:
        '201':
          description: Keyword monitor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordMonitor'
              example:
                id: '21'
                query: 'xquik OR "x api"'
                eventTypes: [tweet.new]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
                nextBillingAt: '2025-01-15T12:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402': *payment-required-response
        '409':
          description: Keyword monitor already exists
          content:
            application/json:
              schema: *error-schema
              example:
                error: 'monitor_already_exists'
                message: 'Monitor already exists.'
        '429': *rate-limit-exceeded-response

  /monitors/keywords/{id}:
    get:
      operationId: getKeywordMonitor
      description: Returns configuration and status for one keyword monitor.
      summary: Get keyword monitor
      tags: [Monitors]
      security: *api-auth-2
      parameters: *resource-id-parameters
      responses:
        '200':
          description: Keyword monitor details
          content: &keyword-monitor-content
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordMonitor'
              example:
                id: '21'
                query: 'xquik OR "x api"'
                eventTypes: [tweet.new]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
                nextBillingAt: '2025-01-15T13:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    patch:
      operationId: updateKeywordMonitor
      description: Updates mutable settings for an existing keyword monitor.
      summary: Update keyword monitor
      tags: [Monitors]
      security: *api-auth-2
      parameters: *resource-id-parameters
      requestBody:
        required: true
        description: Updated event types or active status.
        content:
          application/json:
            schema:
              type: object
              properties:
                eventTypes: *single-event-type
                isActive: *boolean-example-true
                name:
                  type: [string, 'null']
                  minLength: 1
                  maxLength: 80
                  description:
                    New label for the keyword monitor. Send null to remove it.
                  example: Launch mentions
            example:
              eventTypes:
                - 'tweet.new'
              isActive: true
              name: 'Launch mentions'
      responses:
        '200':
          description: Keyword monitor updated
          content: *keyword-monitor-content
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    delete:
      operationId: deleteKeywordMonitor
      description:
        Stops one keyword monitor, then removes its stored events in bounded
        batches. Poll statusUrl until the monitor returns 404.
      summary: Delete keyword monitor
      tags: [Monitors]
      security: *api-auth-2
      parameters: *resource-id-parameters
      responses: &monitor-deletion-responses
        '202':
          $ref: '#/components/responses/MonitorDeletionAccepted'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /monitors/{id}:
    get:
      operationId: getMonitor
      description: Returns configuration and status for one account monitor.
      summary: Get monitor
      tags: [Monitors]
      security: *api-auth-2
      parameters: *resource-id-parameters
      responses:
        '200':
          description: Monitor details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
              example:
                id: '42'
                username: elonmusk
                xUserId: '1234567890'
                eventTypes: [tweet.new, tweet.reply]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
                nextBillingAt: '2025-01-15T13:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    patch:
      operationId: updateMonitor
      description: Updates mutable settings for an existing account monitor.
      summary: Update monitor
      tags: [Monitors]
      security: *api-auth-2
      parameters: *resource-id-parameters
      requestBody:
        required: true
        description: Event type list or active state for the account monitor.
        content:
          application/json:
            schema:
              type: object
              properties:
                eventTypes: *single-event-type
                isActive: *boolean-example-true
                name:
                  type: [string, 'null']
                  minLength: 1
                  maxLength: 80
                  description:
                    New label for the account monitor. Send null to remove the
                    label.
                  example: Launch watch
            example:
              eventTypes:
                - 'tweet.new'
              isActive: true
              name: 'Launch watch'
      responses:
        '200':
          description: Monitor updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
              example:
                id: '42'
                username: elonmusk
                xUserId: '1234567890'
                eventTypes: [tweet.new]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
                nextBillingAt: '2025-01-15T13:00:00Z'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '404': *not-found-response
        '409':
          description: The monitored X account is still unavailable
          content:
            application/json:
              schema: *error-schema
              example:
                error: monitor_profile_unavailable
                message:
                  X account is gone or private. Resume once it is back & public.
        '429': *rate-limit-exceeded-response
    delete:
      operationId: deleteMonitor
      description:
        Stops one account monitor, then removes its stored events in bounded
        batches. Poll statusUrl until the monitor returns 404.
      summary: Delete monitor
      tags: [Monitors]
      security: *api-auth-2
      parameters: *resource-id-parameters
      responses: *monitor-deletion-responses

  # ── Events ───────────────────────────────────────────────
  /events:
    get:
      operationId: listEvents
      description: Returns monitor events with cursor pagination and filters.
      summary: List events
      tags: [Events]
      security: *api-auth-2
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - name: monitorId
          in: query
          description: Account monitor ID. The monitor_id alias also works.
          schema:
            type: string
        - name: keywordMonitorId
          in: query
          description:
            Keyword monitor ID. The keyword_monitor_id alias also works.
          schema:
            type: string
        - name: eventType
          in: query
          description: Filter events by type
          schema:
            $ref: '#/components/schemas/EventType'
      responses:
        '200':
          description: Event list
          content:
            application/json:
              schema:
                type: object
                required: [events, hasMore]
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                    example: []
                  hasMore: *boolean-example-false
                  nextCursor: *short-id-example-schema
              example:
                events: []
                hasMore: false
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
  /events/{id}:
    get:
      operationId: getEvent
      description: Returns one monitor event owned by the account.
      summary: Get event
      tags: [Events]
      security: *api-auth-2
      parameters: *resource-id-parameters
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
              example:
                id: '42'
                type: 'tweet.new'
                username: 'elonmusk'
                monitorId: '7'
                monitorType: account
                occurredAt: '2025-01-15T12:00:00Z'
                data:
                  tweetId: '1234567890'
        '401': *unauthenticated-response
        '400': *invalid-input-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  # ── Extractions ──────────────────────────────────────────
  /extractions:
    get:
      operationId: listExtractions
      description: Returns extraction jobs with status and result counts.
      summary: List extraction jobs
      tags: [Extractions]
      security: *api-auth-2
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - name: toolType
          in: query
          description: Filter by extraction tool type
          schema:
            $ref: '#/components/schemas/ExtractionToolType'
        - name: status
          in: query
          description: Filter by job status
          schema:
            type: string
            enum: [pending, running, canceled, completed, failed]
      responses:
        '200':
          description: Extraction job list
          content:
            application/json:
              schema:
                type: object
                required: [extractions, hasMore]
                properties:
                  extractions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtractionJob'
                    example: []
                  hasMore: *boolean-example-false
                  nextCursor: *short-id-example-schema
              example:
                extractions: []
                hasMore: false
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createExtraction
      description:
        Starts one single-target or multi-target extraction. Follow waitUrl,
        then page statusUrl after completion.
      summary: Create extraction
      tags: [Extractions]
      security: *api-auth-2
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: dry_run
          in: query
          description: Estimate cost without creating an extraction.
          schema: &boolean-default-false
            type: boolean
            default: false
          example: true
      requestBody:
        required: true
        description:
          Tool type plus one or more tweet, user, community, list, or search
          targets.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractionRequest'
            examples:
              followers: &extraction-followers-example
                summary: 'Followers, with profile filters'
                value:
                  toolType: 'follower_explorer'
                  targetUsername: 'NASA'
                  enrichProfiles: true
                  minFollowers: 1000
                  maxFollowers: 1000000
                  minFollowing: 10
                  maxFollowing: 5000
                  minPosts: 100
                  maxPosts: 100000
                  minAccountAgeDays: 365
                  verifiedType: 'Business'
                  hasWebsite: true
                  hasLocation: true
                  bioContains: 'space, astronomy'
                  locationContains: 'Houston'
                  usernameContains: 'space'
                  resultsLimit: 500
              following: &extraction-following-example
                summary: 'Accounts a user follows'
                value:
                  toolType: 'following_explorer'
                  targetUsername: 'NASA'
                  resultsLimit: 200
              verifiedFollowers: &extraction-verifiedFollowers-example
                summary: 'Verified followers'
                value:
                  toolType: 'verified_follower_explorer'
                  targetUsername: 'NASA'
                  resultsLimit: 200
              relations: &extraction-relations-example
                summary: 'Followers & following of several accounts, merged'
                value:
                  toolType: 'follower_explorer'
                  relationTargets:
                    - relation: 'followers'
                      value: 'NASA'
                    - relation: 'following'
                      value: 'SpaceX'
                  dedupeAcrossTargets: true
                  dedupeMode: 'merge'
                  overlapMode: true
                  includeTargetMetadata: true
                  maxItemsPerTarget: 500
                  resultsLimit: 1000
              posts: &extraction-posts-example
                summary: "A user's posts"
                value:
                  toolType: 'post_extractor'
                  targetUsername: 'NASA'
                  resultsLimit: 100
              postsOfSeveral: &extraction-postsOfSeveral-example
                summary: 'Posts of several users'
                value:
                  toolType: 'post_extractor'
                  targetUsernames:
                    - 'NASA'
                    - 'SpaceX'
                    - 'esa'
                  resultsLimit: 300
              media: &extraction-media-example
                summary: "A user's media posts"
                value:
                  toolType: 'user_media'
                  targetUsername: 'NASA'
                  resultsLimit: 100
              likes: &extraction-likes-example
                summary: "A user's likes"
                value:
                  toolType: 'user_likes'
                  targetUsername: 'NASA'
                  resultsLimit: 100
              mentions: &extraction-mentions-example
                summary: 'Posts that mention a user'
                value:
                  toolType: 'mention_extractor'
                  targetUsername: 'NASA'
                  resultsLimit: 100
              replies: &extraction-replies-example
                summary: 'Replies to a post, newest first'
                value:
                  toolType: 'reply_extractor'
                  targetTweetId: '2082577277246972300'
                  collectionStrategy: 'auto'
                  scope: 'all'
                  maxDepth: 2
                  sort: 'latest'
                  excludeOriginalAuthor: true
                  includeOriginalPost: true
                  hasMediaOnly: false
                  sinceTime: '2026-09-01T00:00:00Z'
                  untilTime: '2026-09-30T23:59:59Z'
                  maxPagesPerTarget: 5
                  startCursor: 'xqcv1_tkGoEx1UJRqeog9a2BJdmzUZTMCoU_M8kb'
                  resultsLimit: 500
              quotes: &extraction-quotes-example
                summary: 'Quotes of a post'
                value:
                  toolType: 'quote_extractor'
                  targetTweetId: '2102882545427714266'
                  resultsLimit: 100
              quotesOfSeveral: &extraction-quotesOfSeveral-example
                summary: 'Quotes of several posts'
                value:
                  toolType: 'quote_extractor'
                  targetTweetIds:
                    - '2102882545427714266'
                    - '2102761519985332442'
                  resultsLimit: 200
              reposters: &extraction-reposters-example
                summary: 'Accounts that reposted a post'
                value:
                  toolType: 'repost_extractor'
                  targetTweetId: '2106061652617568263'
                  resultsLimit: 200
              likers: &extraction-likers-example
                summary: 'Accounts that liked a post'
                value:
                  toolType: 'favoriters'
                  targetTweetId: '2102882545427714266'
                  resultsLimit: 200
              thread: &extraction-thread-example
                summary: "A post's thread"
                value:
                  toolType: 'thread_extractor'
                  targetTweetId: '2102882545427714266'
              article: &extraction-article-example
                summary: 'An X Article'
                value:
                  toolType: 'article_extractor'
                  targetTweetId: '2002118205729562949'
              communityMembers: &extraction-communityMembers-example
                summary: 'Community members'
                value:
                  toolType: 'community_extractor'
                  targetCommunityId: '1493446837214187523'
                  resultsLimit: 200
              communityModerators: &extraction-communityModerators-example
                summary: 'Community moderators'
                value:
                  toolType: 'community_moderator_explorer'
                  targetCommunityId: '1493446837214187523'
              communityPosts: &extraction-communityPosts-example
                summary: 'Posts in several Communities'
                value:
                  toolType: 'community_post_extractor'
                  targetCommunityIds:
                    - '1493446837214187523'
                  resultsLimit: 200
              communitySearch: &extraction-communitySearch-example
                summary: 'A search inside a Community'
                value:
                  toolType: 'community_search'
                  targetCommunityId: '1493446837214187523'
                  searchQuery: 'startup'
                  language: 'en'
                  sinceDate: '2026-09-01'
                  untilDate: '2026-09-30'
                  resultsLimit: 100
              listMembers: &extraction-listMembers-example
                summary: 'List members'
                value:
                  toolType: 'list_member_extractor'
                  targetListId: '4143408'
              listFollowers: &extraction-listFollowers-example
                summary: 'List followers'
                value:
                  toolType: 'list_follower_explorer'
                  targetListId: '4143408'
                  resultsLimit: 200
              listPosts: &extraction-listPosts-example
                summary: "A List's posts"
                value:
                  toolType: 'list_post_extractor'
                  targetListId: '4143408'
                  resultsLimit: 200
              space: &extraction-space-example
                summary: "A Space's hosts, speakers & listeners"
                value:
                  toolType: 'space_explorer'
                  targetSpaceId: '1OGwblLjnQMKB'
              people: &extraction-people-example
                summary: 'A people search'
                value:
                  toolType: 'people_search'
                  searchQuery: 'astronomy'
                  enrichProfiles: true
                  resultsLimit: 100
              search: &extraction-search-example
                summary: 'A post search with engagement filters'
                value:
                  toolType: 'tweet_search_extractor'
                  searchQuery: 'Artemis'
                  queryType: 'Top'
                  fromUser: 'NASA'
                  language: 'en'
                  sinceDate: '2026-09-01'
                  untilDate: '2026-09-30'
                  mediaType: 'images'
                  minFaves: 100
                  minRetweets: 10
                  minReplies: 5
                  minQuotes: 1
                  minViews: 10000
                  minBookmarks: 5
                  maxLikes: 1000000
                  maxRetweets: 100000
                  maxReplies: 100000
                  maxQuotes: 10000
                  verifiedOnly: true
                  blueVerifiedOnly: false
                  replies: 'exclude'
                  retweets: 'exclude'
                  quotes: 'include'
                  nativeRetweets: false
                  safe: true
                  news: false
                  resultsLimit: 200
              searchWords: &extraction-searchWords-example
                summary: 'A post search by words, links & apps'
                value:
                  toolType: 'tweet_search_extractor'
                  searchQuery: 'moon'
                  queryType: 'Latest'
                  exactPhrase: 'Artemis II'
                  excludeWords: 'rumor'
                  anyWords: 'launch, crew'
                  hashtags: '#Artemis'
                  cashtags: '$BA'
                  url: 'nasa.gov'
                  cardName: 'summary_large_image'
                  source: 'Sprinklr'
                  excludeSource: 'IFTTT'
                  toUser: 'NASA'
                  mentioning: 'NASA'
                  withinTime: '7d'
                  sinceId: '2102000000000000000'
                  maxId: '2102882545427714266'
                  advancedQuery: 'filter:links'
                  resultsLimit: 200
              searchNear: &extraction-searchNear-example
                summary: 'A post search near a place'
                value:
                  toolType: 'tweet_search_extractor'
                  searchQuery: 'launch'
                  near: 'Cape Canaveral'
                  within: '25mi'
                  placeCountry: 'US'
                  resultsLimit: 100
              searchArea: &extraction-searchArea-example
                summary: 'A post search inside an area'
                value:
                  toolType: 'tweet_search_extractor'
                  searchQuery: 'launch'
                  geocode: '28.39,-80.60,25mi'
                  place: '5e02a0f0d91c76d2'
                  pointRadius: '-80.60 28.39 25mi'
                  boundingBox: '-81.0 28.0 -80.4 28.8'
                  resultsLimit: 100
              searchConversation: &extraction-searchConversation-example
                summary: 'Replies, quotes & reposts of a post'
                value:
                  toolType: 'tweet_search_extractor'
                  searchQuery: 'Artemis'
                  conversationId: '2102882545427714266'
                  inReplyToTweetId: '2102882545427714266'
                  quotesOfTweetId: '2102882545427714266'
                  retweetsOfTweetId: '2102882545427714266'
                  listId: '4143408'
                  resultsLimit: 100
              searchCollection: &extraction-searchCollection-example
                summary: 'Several searches, accounts, Lists & posts in 1 job'
                value:
                  toolType: 'tweet_search_extractor'
                  searchQueries:
                    - 'Artemis'
                    - 'Starship'
                  targetUsernames:
                    - 'NASA'
                    - 'SpaceX'
                  targetListIds:
                    - '4143408'
                  targetTweetIds:
                    - '2102882545427714266'
                  targets:
                    - kind: 'profile'
                      value: 'NASA'
                    - kind: 'replies'
                      value: '2082577277246972300'
                  includeSearchTerms: true
                  dedupeAcrossTargets: true
                  maxItemsPerTarget: 100
                  resultsLimit: 500
      responses:
        '200':
          description: Dry-run estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionEstimate'
        '202':
          description: Extraction started. Location identifies its result URL.
          headers:
            Location:
              description: Relative extraction result URL.
              schema: { type: string }
            Retry-After:
              description: Seconds before polling statusUrl.
              schema: &whole-number
                $ref: '#/components/schemas/WholeNumber'
            Idempotency-Replayed:
              description: Present as true when returning the original job.
              schema: { type: string, const: 'true' }
          content:
            application/json:
              schema:
                type: object
                required:
                  [id, pollAfterMs, status, statusUrl, toolType, waitUrl]
                properties:
                  id: { type: string, example: 'ext_123' }
                  pollAfterMs: { type: integer, minimum: 0, example: 1000 }
                  statusUrl:
                    { type: string, example: '/api/v1/extractions/a1b2c3d4' }
                  waitUrl: &extraction-wait-url
                    type: string
                    example: >-
                      /api/v1/extractions/id?wait=10&limit=1&outputMode=compact
                  toolType:
                    $ref: '#/components/schemas/ExtractionToolType'
                  status:
                    type: string
                    enum: [pending, running, canceled, completed, failed]
                    example: running
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401': *unauthenticated-response
        '402': *payment-required-response
        '403':
          $ref: '#/components/responses/ProtectedTarget'
        '404': *not-found-response
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '424': &x-api-error-response
          $ref: '#/components/responses/XApiError'
        '429': *rate-limit-exceeded-response
        '502': *x-api-error-response

  /extractions/estimate:
    post:
      operationId: estimateExtraction
      x-mcp-annotations: { readOnlyHint: true }
      description: Estimates extraction cost without creating a job.
      summary: Estimate extraction cost
      tags: [Extractions]
      security: *api-auth-2
      requestBody:
        required: true
        description:
          Same parameters as a real extraction; returns estimated credit cost
          without running the job.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractionRequest'
            examples:
              followers: *extraction-followers-example
              following: *extraction-following-example
              verifiedFollowers: *extraction-verifiedFollowers-example
              relations: *extraction-relations-example
              posts: *extraction-posts-example
              postsOfSeveral: *extraction-postsOfSeveral-example
              media: *extraction-media-example
              likes: *extraction-likes-example
              mentions: *extraction-mentions-example
              replies: *extraction-replies-example
              quotes: *extraction-quotes-example
              quotesOfSeveral: *extraction-quotesOfSeveral-example
              reposters: *extraction-reposters-example
              likers: *extraction-likers-example
              thread: *extraction-thread-example
              article: *extraction-article-example
              communityMembers: *extraction-communityMembers-example
              communityModerators: *extraction-communityModerators-example
              communityPosts: *extraction-communityPosts-example
              communitySearch: *extraction-communitySearch-example
              listMembers: *extraction-listMembers-example
              listFollowers: *extraction-listFollowers-example
              listPosts: *extraction-listPosts-example
              space: *extraction-space-example
              people: *extraction-people-example
              search: *extraction-search-example
              searchWords: *extraction-searchWords-example
              searchNear: *extraction-searchNear-example
              searchArea: *extraction-searchArea-example
              searchConversation: *extraction-searchConversation-example
              searchCollection: *extraction-searchCollection-example
      responses:
        '200':
          description: Extraction estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionEstimate'
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401': *unauthenticated-response
        '402': *payment-required-response
        '403':
          $ref: '#/components/responses/ProtectedTarget'
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /extractions/{id}:
    delete:
      operationId: cancelExtraction
      description: Cancels an active extraction without charging or saving rows.
      summary: Cancel extraction
      tags: [Extractions]
      security: *api-auth-2
      parameters: *resource-id-parameters
      responses:
        '200':
          description: Extraction canceled
          content:
            application/json:
              schema:
                type: object
                required: [id, status]
                properties:
                  id: { type: string, example: 'aB3dE6gH9jK2' }
                  status: { type: string, const: canceled }
        '401': *unauthenticated-response
        '404': *not-found-response
        '409':
          description: Extraction already reached a terminal state
          content:
            {
              application/json:
                { schema: { $ref: '#/components/schemas/Error' } },
            }
        '429': *rate-limit-exceeded-response
    get:
      operationId: getExtraction
      description:
        Returns status and up to 1,000 results. Follow nextCursor when hasMore
        is true.
      summary: Get extraction results
      tags: [Extractions]
      security: *api-auth-2
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - name: limit
          in: query
          description: Maximum results per page (1-1000, default 100).
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - $ref: '#/components/parameters/After'
        - name: wait
          in: query
          description: Wait up to this many seconds when the job is active.
          schema: { type: integer, minimum: 0, maximum: 10, default: 0 }
        - name: outputMode
          in: query
          description:
            Use compact for core fields and tweet counts, full for nested
            enrichment, or raw for a source copy.
          schema:
            type: string
            enum: [compact, full, raw]
            default: full
        - name: outputPreset
          in: query
          description: Keep enrichment nested or merge it into each result.
          schema:
            type: string
            enum: [nested, flat]
            default: nested
        - name: fieldStyle
          in: query
          description: Preserve source keys or convert result field names.
          schema:
            type: string
            enum: [source, camelCase, snake_case]
            default: source
        - name: includeRaw
          in: query
          deprecated: true
          description: Use outputMode=raw instead.
          schema: *boolean-default-false
      responses:
        '200':
          description: Extraction job with results
          content:
            application/json:
              schema:
                type: object
                required: [job, results, hasMore, pollAfterMs, waitUrl]
                properties:
                  job: { $ref: '#/components/schemas/ExtractionJob' }
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/ExtractionResult' }
                    example: []
                  hasMore: { type: boolean, example: false }
                  pollAfterMs: { type: integer, minimum: 0, example: 0 }
                  waitUrl: *extraction-wait-url
                  nextCursor: { type: string, example: 'abc123' }
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /extractions/{id}/export:
    get:
      operationId: exportExtraction
      x-mcp-exclusion-reason: &binary-rest Binary downloads remain direct REST.
      description:
        Downloads completed extraction results in the requested format. JSON
        rows also keep each result's nested `enrichmentData`, as `GET
        /extractions/{id}` returns it.
      summary: Export extraction results
      tags: [Extractions]
      security: *api-auth-2
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Extraction public ID
        - name: format
          in: query
          required: true
          description: Export file format
          schema:
            type: string
            enum: [csv, json, md, md-document, pdf, txt, xlsx]
        - name: minFollowers
          in: query
          schema: *whole-number
          description: Minimum follower count.
        - name: maxFollowers
          in: query
          schema: *whole-number
          description: Maximum follower count.
        - name: minFollowing
          in: query
          schema: *whole-number
          description: Minimum following count.
        - name: maxFollowing
          in: query
          schema: *whole-number
          description: Maximum following count.
        - name: minPosts
          in: query
          schema: *whole-number
          description: Minimum post count.
        - name: maxPosts
          in: query
          schema: *whole-number
          description: Maximum post count.
        - name: minLikes
          in: query
          schema: *whole-number
          description: Minimum like count.
        - name: minReplies
          in: query
          schema: *whole-number
          description: Minimum reply count.
        - name: minRetweets
          in: query
          schema: *whole-number
          description: Minimum repost count.
        - name: minViews
          in: query
          schema: *whole-number
          description: Minimum view count.
        - name: hasDescription
          in: query
          schema: { type: boolean }
          description: Require a non-empty description.
        - name: hasLocation
          in: query
          schema: { type: boolean }
          description: Require a non-empty location.
        - name: hasMedia
          in: query
          schema: { type: boolean }
          description: Require media.
        - name: verified
          in: query
          schema: { type: boolean }
          description: Filter by verified status.
        - name: lang
          in: query
          schema: { type: string }
          description: Filter by language code.
        - name: search
          in: query
          schema: { type: string }
          description: Search exported result text.
        - name: sinceDate
          in: query
          schema: { type: string, format: date }
          description: Include results on or after this date.
        - name: untilDate
          in: query
          schema: { type: string, format: date }
          description: Include results on or before this date, inclusive.
      responses:
        '200':
          description: Exported file
          content: &binary-download-content
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/InvalidInput'
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  # ── Draws ────────────────────────────────────────────────
  /draws:
    get:
      operationId: listDraws
      description: Returns giveaway draws owned by the authenticated account.
      summary: List draws
      tags: [Draws]
      security: *api-auth-2
      parameters: &limit-after-parameters
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: Draw list
          content:
            application/json:
              schema:
                type: object
                required: [draws, hasMore]
                properties:
                  draws:
                    type: array
                    items:
                      $ref: '#/components/schemas/DrawListItem'
                    example: []
                  hasMore: *boolean-example-false
                  nextCursor: *short-id-example-schema
              example:
                draws: []
                hasMore: false
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createDraw
      summary: Run giveaway draw
      description:
        Checks credits, then draws winners from inspected replies & reposters.
        Remaining credits cap the candidates.
      tags: [Draws]
      security: *api-auth-2
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        description:
          Tweet URL, winner count & optional eligibility filters for retweet,
          follow, keywords, hashtags & account age.
        content:
          application/json:
            schema:
              type: object
              required: [tweetUrl]
              properties:
                tweetUrl:
                  type: string
                  format: uri
                  example: 'https://x.com/elonmusk/status/1234567890'
                winnerCount:
                  type: integer
                  minimum: 1
                  default: 1
                  example: 3
                backupCount:
                  type: integer
                  minimum: 0
                  example: 2
                uniqueAuthorsOnly: *boolean-example-true
                mustRetweet: *boolean-example-true
                mustFollowUsername: *handle-example-schema
                filterMinFollowers:
                  type: integer
                  minimum: 0
                  example: 50
                filterAccountAgeDays:
                  type: integer
                  minimum: 0
                  example: 30
                filterLanguage:
                  type: string
                  example: en
                requiredHashtags:
                  type: array
                  items:
                    type: string
                  example: ['#giveaway']
                requiredKeywords:
                  type: array
                  items:
                    type: string
                  example: ['entered']
                requiredMentions:
                  type: array
                  items:
                    type: string
                  example: ['@elonmusk']
            example:
              tweetUrl: 'https://x.com/elonmusk/status/1234567890'
              winnerCount: 3
              backupCount: 2
              uniqueAuthorsOnly: true
              mustRetweet: true
              mustFollowUsername: 'elonmusk'
              filterMinFollowers: 50
              filterAccountAgeDays: 30
              filterLanguage: 'en'
              requiredHashtags:
                - '#giveaway'
              requiredKeywords:
                - 'entered'
              requiredMentions:
                - '@elonmusk'
      responses:
        '201':
          description: Draw completed
          headers:
            Idempotency-Replayed:
              description: Present as true when returning the original draw.
              schema: { type: string, const: 'true' }
          content:
            application/json:
              schema:
                type: object
                required: [id, tweetId, totalEntries, validEntries, winners]
                properties:
                  id:
                    type: string
                    example: 'f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345'
                  tweetId: *tweet-id-example-schema
                  totalEntries:
                    type: integer
                    minimum: 0
                    description:
                      Entries inspected after the credit cap, which can be fewer
                      than the post's replies.
                    example: 250
                  validEntries:
                    type: integer
                    minimum: 0
                    description:
                      Inspected entries that passed every filter. A credit cap
                      can leave valid replies uninspected.
                    example: 200
                  winners:
                    type: array
                    items:
                      $ref: '#/components/schemas/Winner'
                    example: []
              example:
                id: 'f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345'
                tweetId: '1234567890'
                totalEntries: 250
                validEntries: 200
                winners: []
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '402':
          description:
            Insufficient usable credits. A draw fails before it runs when the
            balance cannot cover the minimum cost, or after it runs when its
            final cost cannot be deducted. Xquik saves & charges nothing.
          content:
            application/json:
              schema: *error-schema
              example:
                error: 'insufficient_credits'
                message: 'Insufficient credits'
        '404': *not-found-response
        '409':
          description:
            Idempotency-Key belongs to another draw request, or its first
            request still runs. Xquik charges nothing for it.
          content:
            application/json:
              schema: *error-schema
              examples:
                conflict:
                  summary: Another request body
                  value:
                    error: idempotency_conflict
                    message:
                      Idempotency-Key belongs to another request. Use a new key.
                inProgress:
                  summary: First request still running
                  value:
                    error: idempotency_in_progress
                    message:
                      Idempotency-Key belongs to a running request. Retry later.
        '424':
          description: >-
            X failed or stopped early. Retry after replies_incomplete or
            retweeters_incomplete. draw_too_large means the post has more
            entries than 1 draw reads; contact support. Xquik saves & charges
            nothing.
          content:
            application/json:
              schema: *error-schema
              example:
                error: replies_incomplete
                message:
                  X stopped before every reply loaded. Retry the draw later.
        '429': *rate-limit-exceeded-response
        '502': *x-api-error-response

  /draws/{id}:
    get:
      operationId: getDraw
      description: Returns draw rules, status, candidates, and selected winners.
      summary: Get draw details
      tags: [Draws]
      security: *api-auth-2
      parameters:
        - $ref: '#/components/parameters/DrawId'
      responses:
        '200':
          description: Draw with winners
          content:
            application/json:
              schema:
                type: object
                required: [draw, winners]
                properties:
                  draw:
                    type: object
                    $ref: '#/components/schemas/DrawDetail'
                    example: &draw-detail-example
                      id: 'f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345'
                      tweetUrl: 'https://x.com/elonmusk/status/1234567890'
                      tweetId: '1234567890'
                      tweetText: 'Giving away 3 Tesla Model 3s!'
                      tweetAuthorUsername: 'elonmusk'
                      status: 'completed'
                      totalEntries: 250
                      validEntries: 200
                      tweetLikeCount: 50000
[...]
