openapi: 3.1.0
info:
  title: Xquik API
  version: '1.0'
  description: >-
    Xquik is an independent third-party service. Not affiliated with X Corp.
    "Twitter" and "X" are trademarks of X Corp. Read and automate X. Paid reads
    accept credits. Some lookups accept MPP. Writes require API key or OAuth
    2.1.


    ## Client Libraries


    [SDK, CLI, Terraform](https://docs.xquik.com/sdks),
    [TweetClaw](https://docs.xquik.com/guides/tweetclaw), and [version
    deprecation](https://xquik.com/deprecation-policy.md).
  contact:
    name: Xquik
    url: https://xquik.com
    email: support@xquik.com
  license:
    name: Proprietary
    url: https://xquik.com/en/terms

servers:
  - url: https://xquik.com/api/v1

x-service-info:
  categories:
    - data
  docs:
    homepage: https://xquik.com
    apiReference: https://docs.xquik.com
    llms: https://docs.xquik.com/llms.txt

x-discovery:
  ownershipProofs:
    - 'dns:xquik.com'

security: [{ apiKey: [] }, { oauthBearer: [] }]

tags:
  - name: API Keys
    description: API key management (session auth only)
  - name: Account
    description: Account info and settings
  - name: Agent Discovery
    description: Public agent discovery and documentation search
  - name: Articles
    description: Long-form X Article extraction
  - name: Communities
    description: X Community info, members, and tweets
  - name: Composition
    description: AI tweet composition, drafts, writing styles, and radar
  - name: Draws
    description: Giveaway draws from tweet replies
  - name: Events
    description: Activity events from monitored accounts
  - name: Extractions
    description: Saved or bulk data extraction (23 tool types)
  - name: Guest Wallets
    description: Accountless prepaid access for paid read endpoints
  - name: Lists
    description: X List followers, members, and tweets
  - name: Media
    description: Media upload and download
  - name: Monitors
    description: X account monitoring with 1-second checks
  - name: Subscribe
    description: Subscription, billing, and credits
  - name: Support
    description: Support ticket management
  - name: Trends
    description: Trending topics and hashtags by region
  - name: Tweets
    description: Look up, search, and analyze individual tweets
  - name: Users
    description: Look up, search, and explore user profiles and relationships
  - name: Webhooks
    description: Webhook endpoint management and delivery
  - name: X Accounts
    description: Connected X account management
  - name: X Write
    description: X write actions (tweets, likes, follows, DMs)
paths:
  /ask:
    servers:
      - url: https://xquik.com
    post:
      operationId: searchXquikDocumentation
      x-mcp-exclusion-reason: Public agent discovery remains direct.
      summary: Search Xquik documentation with NLWeb
      description: >-
        Search public Xquik docs with NLWeb 0.55. This read-only route accepts
        flat and structured requests. Never send secrets or private data.
      tags: [Agent Discovery]
      security: []
      requestBody:
        description: Flat or structured NLWeb request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NlwebAskRequest'
            example:
              query: How does MCP OAuth work?
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NlwebAskRequest'
      # oxfmt-ignore
      responses:
        '200':
          description: Documentation results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NlwebAnswer'
              example: { _meta: { response_format: conversational_search, response_type: answer, version: '0.55' }, results: [] }
            text/event-stream:
              schema:
                type: string
        '400':
          description: Invalid or unsupported NLWeb request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NlwebFailure'
              example: { _meta: { response_type: failure, version: '0.55' }, error: { code: INVALID_QUERY, message: 'Request is invalid. Send a valid NLWeb query.' } }
        '413':
          description: Request body exceeds 8 KiB.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NlwebFailure'
              example: { _meta: { response_type: failure, version: '0.55' }, error: { code: TOKEN_LIMIT, message: 'Request is too large. Send less context.' } }
        '502':
          description: Documentation search is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NlwebFailure'
              example: { _meta: { response_type: failure, version: '0.55' }, error: { code: INTERNAL_ERROR, message: 'Search is unavailable. Retry later.' } }
    get:
      operationId: searchXquikDocumentationWithQuery
      x-mcp-exclusion-reason: Public agent discovery remains direct.
      summary: Search Xquik documentation with query parameters
      description: Send a flat NLWeb 0.55 request through query parameters.
      tags: [Agent Discovery]
      security: []
      # oxfmt-ignore
      parameters:
        - { name: query, in: query, required: true, description: Natural-language docs query., schema: { type: string, minLength: 1, maxLength: 500 } }
        - { name: site, in: query, description: Optional docs host., schema: { type: string, enum: [docs.xquik.com, xquik.com] } }
        - { name: mode, in: query, description: List result mode., schema: { type: string, const: list } }
        - { name: response_format, in: query, description: NLWeb response shape., schema: { type: string, enum: [chatgpt_app, conversational_search], default: conversational_search } }
        - { name: streaming, in: query, description: Return SSE when true., schema: { type: boolean, default: false } }
      responses:
        '200': { $ref: '#/paths/~1ask/post/responses/200' }
        '400': { $ref: '#/paths/~1ask/post/responses/400' }
        '413': { $ref: '#/paths/~1ask/post/responses/413' }
        '502': { $ref: '#/paths/~1ask/post/responses/502' }

  # ── Account ──────────────────────────────────────────────
  /account:
    get:
      operationId: getAccount
      description: Returns plan, credit, monitoring, and account settings for the
        authenticated user.
      summary: Get account info
      tags: [Account]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      responses:
        '200':
          description: Account info
          content:
            application/json:
              schema:
                type: object
                required: [plan, subscription, monitorsUsed, monitorsAllowed, monitorBilling]
                properties:
                  plan:
                    type: string
                    enum: [active, inactive]
                    example: active
                  subscription:
                    type: object
                    description: Subscription state without billing provider identifiers.
                    required: [status]
                    properties:
                      status:
                        type: string
                        enum: [none, active, past_due, canceling, incomplete]
                        example: active
                      tier:
                        type: string
                        enum: [starter, pro, business]
                        example: pro
                      currentPeriodStart:
                        type: string
                        format: date-time
                        example: '2026-09-01T00:00:00.000Z'
                      currentPeriodEnd:
                        type: string
                        format: date-time
                        description: Renewal date, or the end date when canceling.
                        example: '2026-10-01T00:00:00.000Z'
                  monitorsUsed:
                    type: integer
                    example: 3
                  monitorsAllowed:
                    type: integer
                    deprecated: true
                    x-stainless-deprecation-message: Monitor slots are unlimited. Use
                      monitorBilling.unlimitedSlots instead.
                    description: Deprecated. Monitor slots are unlimited, so this is always
                      Number.MAX_SAFE_INTEGER.
                    example: 9007199254740991
                  monitorBilling:
                    type: object
                    required:
                      [
                        activeDailyEstimate,
                        activeHourlyBurn,
                        creditsPerActiveMonitorDay,
                        creditsPerActiveMonitorHour,
                        eventsIncluded,
                        instantCheckIntervalSeconds,
                        unlimitedSlots,
                      ]
                    properties:
                      activeDailyEstimate:
                        type: string
                        description: Estimated daily credits for currently active monitors.
                        example: '1500'
                      activeHourlyBurn:
                        type: string
                        description: Credits charged each hour for currently active
                          monitors.
                        example: '63'
                      creditsPerActiveMonitorDay:
                        type: string
                        description: Rounded daily estimate for 1 active monitor.
                        example: '500'
                      creditsPerActiveMonitorHour:
                        type: string
                        description: Hourly credits charged for 1 active monitor.
                        example: '21'
                      eventsIncluded:
                        type: boolean
                        description: Webhook and event deliveries are included in monitor
                          billing.
                        example: true
                      instantCheckIntervalSeconds:
                        type: integer
                        description: Active monitors check every 1 second.
                        example: 1
                      unlimitedSlots:
                        type: boolean
                        description: Monitor slot count is unlimited.
                        example: true
                  creditInfo:
                    type: object
                    required:
                      [
                        balance,
                        lifetimePurchased,
                        lifetimeUsed,
                        autoTopupEnabled,
                        autoTopupAmountDollars,
                        autoTopupThreshold,
                      ]
                    properties:
                      balance:
                        type: string
                        description: Bigint string to preserve precision above
                          Number.MAX_SAFE_INTEGER.
                        example: '50000'
                      lifetimePurchased:
                        type: string
                        description: Total purchased credits as a bigint string.
                        example: '140000'
                      lifetimeUsed:
                        type: string
                        description: Total consumed credits as a bigint string.
                        example: '90000'
                      autoTopupEnabled: &boolean-example-false
                        type: boolean
                        example: false
                      autoTopupAmountDollars:
                        type: number
                        description: Dollar amount charged when automatic top-up runs.
                        example: 10
                      autoTopupThreshold:
                        type: string
                        description: Bigint string threshold that triggers automatic top-up
                          when enabled.
                        example: '50000'
                    example:
                      balance: '50000'
                      lifetimePurchased: '140000'
                      lifetimeUsed: '90000'
                      autoTopupEnabled: false
                      autoTopupAmountDollars: 10
                      autoTopupThreshold: '50000'
                  xUsername:
                    type: string
                    description: Linked X username, omitted when no X account is connected.
                    example: elonmusk
              example:
                plan: active
                subscription:
                  status: active
                  tier: pro
                  currentPeriodStart: '2026-09-01T00:00:00.000Z'
                  currentPeriodEnd: '2026-10-01T00:00:00.000Z'
                monitorsUsed: 3
                monitorsAllowed: 9007199254740991
                monitorBilling:
                  activeDailyEstimate: '1500'
                  activeHourlyBurn: '63'
                  creditsPerActiveMonitorDay: '500'
                  creditsPerActiveMonitorHour: '21'
                  eventsIncluded: true
                  instantCheckIntervalSeconds: 1
                  unlimitedSlots: true
                creditInfo:
                  balance: '50000'
                  lifetimePurchased: '140000'
                  lifetimeUsed: '90000'
                  autoTopupEnabled: false
                  autoTopupAmountDollars: 10
                  autoTopupThreshold: '50000'
                xUsername: elonmusk
        '401': &unauthenticated-response
          $ref: '#/components/responses/Unauthenticated'
        '429': &rate-limit-exceeded-response
          $ref: '#/components/responses/RateLimitExceeded'
    patch:
      operationId: updateAccount
      description: Changes the locale used for account responses and notifications.
      summary: Update account locale
      tags: [Account]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: true
        description: Locale preference for the account.
        content:
          application/json:
            schema:
              type: object
              required: [locale]
              properties:
                locale:
                  type: string
                  enum: [en, tr, es]
                  example: en
            example:
              locale: en
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400': &invalid-input-response
          $ref: '#/components/responses/InvalidInput'
        '401': *unauthenticated-response

        '429': *rate-limit-exceeded-response
  /account/x-identity:
    put:
      operationId: setXIdentity
      description: Links an X username to the authenticated Xquik account.
      summary: Set linked X username
      tags: [Account]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: true
        description: X username to link to this account.
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  description: X username without @
                  example: elonmusk
            example:
              username: elonmusk
      responses:
        '200':
          description: X identity linked
          content:
            application/json:
              schema:
                type: object
                required: [success, xUsername]
                properties:
                  success: &boolean-true
                    type: boolean
                    const: true
                  xUsername: &handle-example-schema
                    type: string
                    example: elonmusk
              example:
                success: true
                xUsername: elonmusk
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response

  # ── API Keys ─────────────────────────────────────────────
  /api-keys:
    get:
      operationId: listApiKeys
      x-mcp-exclusion-reason: Credential management requires browser auth.
      description: Returns API key metadata without exposing secret key values.
      summary: List API keys
      tags: [API Keys]
      security: [{ cookieSession: [] }]
      responses:
        '200':
          description: API key list
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
                    example: []
              example:
                keys: []
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createApiKey
      x-mcp-exclusion-reason: Credential management requires browser auth.
      description: Creates a revocable API key and returns its secret once.
      summary: Create API key
      tags: [API Keys]
      security: [{ cookieSession: [] }]
      requestBody:
        required: true
        description: Optional display name for the new API key.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: My API Key
            example:
              name: My API Key
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                required: [id, fullKey, name, prefix, createdAt]
                properties:
                  id: &resource-id-example-schema
                    type: string
                    example: '42'
                  fullKey:
                    type: string
                    example: xq_live_abc123def456
                  name:
                    type: string
                    example: My API Key
                  prefix:
                    type: string
                    example: xq_live_abc1
                  createdAt: &created-at-schema
                    type: string
                    format: date-time
                    example: '2025-01-15T12:00:00Z'
              example:
                id: '42'
                fullKey: xq_live_abc123def456
                name: My API Key
                prefix: xq_live_abc1
                createdAt: '2025-01-15T12:00:00Z'
        '401': *unauthenticated-response
        '403':
          description: API key limit reached
          content:
            application/json:
              schema:
                type: object
                required: [error, limit, message]
                properties:
                  error:
                    type: string
                    const: api_key_limit_reached
                    example: api_key_limit_reached
                  limit:
                    type: integer
                    example: 100
                  message:
                    type: string
                    example: API key limit reached. Delete an existing key first.
              example:
                error: api_key_limit_reached
                limit: 100
                message: API key limit reached. Delete an existing key first.
        '429': *rate-limit-exceeded-response
  /api-keys/{id}:
    delete:
      operationId: revokeApiKey
      x-mcp-exclusion-reason: Credential management requires browser auth.
      description: Permanently revokes the selected API key.
      summary: Revoke API key
      tags: [API Keys]
      security: [{ cookieSession: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': &not-found-response
          $ref: '#/components/responses/NotFound'
        '429': *rate-limit-exceeded-response

  # ── Subscribe ────────────────────────────────────────────
  /subscribe:
    post:
      operationId: subscribe
      summary: Create subscription checkout
      description: >
        Create a subscription checkout or billing-management URL only after the
        user confirms. The request never completes payment by itself.
      tags: [Subscribe]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: false
        description: Optional subscription tier to pre-select at checkout.
        content:
          application/json:
            schema:
              type: object
              properties:
                tier:
                  type: string
                  enum: [starter, pro, business]
                  description: Subscription tier to pre-select.
                  example: pro
            example:
              tier: pro
      responses:
        '200':
          description: Billing URL
          content:
            application/json:
              schema:
                type: object
                required: [url, status, message]
                properties:
                  url:
                    type: string
                    format: uri
                    example: 'https://xquik.com/billing/session'
                  status:
                    type: string
                    enum: [checkout_created, already_subscribed, payment_issue]
                    example: checkout_created
                  message:
                    type: string
                    example: Billing session created
              example:
                url: 'https://xquik.com/billing/session'
                status: checkout_created
                message: Billing session created
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response

  # ── Composition ──────────────────────────────────────────
  /compose:
    post:
      operationId: compose
      x-mcp-annotations: { readOnlyHint: true }
      summary: Build, refine, or check a post draft
      description: Uses xai-org/x-algorithm facts to compose and refine text. Score checks
        text. It never predicts reach or engagement.
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: true
        description: Send exactly one workflow step and its required fields.
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ComposePrepareRequest'
                - $ref: '#/components/schemas/ComposeRefineRequest'
                - $ref: '#/components/schemas/ComposeScoreRequest'
            example:
              step: compose
              topic: PostgreSQL query planning
              goal: engagement
      responses:
        '200':
          description: Result for the requested workflow step
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ComposePrepareResult'
                  - $ref: '#/components/schemas/ComposeRefineResult'
                  - $ref: '#/components/schemas/ComposeScoreResult'
              example:
                checklist:
                  - factor: Draft contains text
                    passed: true
                nextStep: >
                  Draft accepted. Publish through POST /api/v1/x/tweets or use
                  intentUrl.
                passed: true
                passedCount: 1
                topSuggestion: >-
                  No deterministic ranking score exists. Ranking uses per-viewer
                  predictions.
                totalChecks: 1
                intentUrl: >-
                  https://x.com/intent/tweet?text=PostgreSQL%2018%20reduced%20query%20latency
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
  /drafts:
    get:
      operationId: listDrafts
      description: Lists private Xquik drafts. It cannot access native X drafts.
      summary: List saved drafts
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - name: afterCursor
          in: query
          schema:
            type: string
          description: Cursor for pagination
      responses:
        '200':
          description: Draft list
          content:
            application/json:
              schema:
                type: object
                required: [drafts, hasMore]
                properties:
                  drafts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Draft'
                    example: []
                  hasMore: *boolean-example-false
                  nextCursor: &short-id-example-schema
                    type: string
                    example: 'abc123'
              example:
                drafts: []
                hasMore: false
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createDraft
      description: Stores a private Xquik draft. It never publishes or creates native X
        drafts.
      summary: Save a tweet draft
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: true
        description: Draft text with optional topic and optimization goal.
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  example: 'AI is the future of productivity'
                topic:
                  type: string
                  example: 'AI trends'
                goal:
                  type: string
                  enum: [engagement, followers, authority, conversation]
                  example: engagement
            example:
              text: 'AI is the future of productivity'
              topic: 'AI trends'
              goal: engagement
      responses:
        '201':
          description: Draft created
          content: &draft-detail-content
            application/json:
              schema:
                $ref: '#/components/schemas/DraftDetail'
              example:
                id: '42'
                text: 'AI is the future of productivity'
                topic: 'AI trends'
                goal: engagement
                createdAt: '2025-01-15T12:00:00Z'
                updatedAt: '2025-01-16T09:30:00Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
  /drafts/{id}:
    get:
      operationId: getDraft
      description: Returns one private Xquik draft. Native X drafts remain inaccessible.
      summary: Get draft by ID
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Draft details
          content: *draft-detail-content
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    delete:
      operationId: deleteDraft
      description: Deletes one Xquik draft, not native X drafts or published posts.
      summary: Delete a draft
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /styles:
    get:
      operationId: listStyles
      description: Returns cached writing style profiles for the account.
      summary: List cached style profiles
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      responses:
        '200':
          description: Style profile list
          content:
            application/json:
              schema:
                type: object
                required: [styles]
                properties:
                  styles:
                    type: array
                    items:
                      $ref: '#/components/schemas/StyleProfileSummary'
                    example: []
              example:
                styles: []
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: analyzeStyle
      description: Builds a writing style profile from recent public posts.
      summary: Analyze writing style from recent tweets
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: true
        description: X username whose recent tweets define the style.
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties:
                username:
                  type: string
                  description: X username to analyze
                  example: elonmusk
            example:
              username: elonmusk
      responses:
        '200':
          description: Fresh cached style profile returned
          content: &style-profile-content-with-example
            application/json:
              schema:
                $ref: '#/components/schemas/StyleProfile'
              example:
                xUsername: 'elonmusk'
                tweetCount: 50
                isOwnAccount: true
                fetchedAt: '2025-01-15T12:00:00Z'
                tweets:
                  - id: '1234567890'
                    text: 'Just launched our new feature!'
        '201':
          description: Style profile created or refreshed
          content: *style-profile-content-with-example
        '400': *invalid-input-response
        '401': *unauthenticated-response

        '402': &payment-required-response
          $ref: '#/components/responses/PaymentRequired'
        '429': *rate-limit-exceeded-response
  /styles/compare:
    get:
      operationId: compareStyles
      description: Compares language and engagement signals across two style profiles.
      summary: Compare two style profiles
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - name: username1
          in: query
          required: true
          schema:
            type: string
          description: First username to compare
        - name: username2
          in: query
          required: true
          schema:
            type: string
          description: Second username to compare
      responses:
        '200':
          description: Style comparison
          content:
            application/json:
              schema:
                type: object
                required: [style1, style2]
                properties:
                  style1:
                    $ref: '#/components/schemas/StyleProfile'
                  style2:
                    $ref: '#/components/schemas/StyleProfile'
              example:
                style1: &style-profile-example
                  xUsername: 'elonmusk'
                  tweetCount: 50
                  isOwnAccount: true
                  fetchedAt: '2025-01-15T12:00:00Z'
                  tweets:
                    - id: '1234567890'
                      text: 'Just launched our new feature!'
                style2:
                  xUsername: 'BillGates'
                  tweetCount: 40
                  isOwnAccount: false
                  fetchedAt: '2025-01-15T12:00:00Z'
                  tweets:
                    - id: '9876543210'
                      text: 'Climate change is a global challenge.'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /styles/{id}:
    get:
      operationId: getStyle
      description: Returns one cached writing style profile.
      summary: Get cached style profile
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/StyleId'
      responses:
        '200':
          description: Style profile
          content: *style-profile-content-with-example
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    put:
      operationId: saveStyle
      description: Creates or replaces a style profile from supplied posts.
      summary: Save style profile with custom tweets
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/StyleId'
      requestBody:
        required: true
        description: Sample tweets that define the style profile.
        content:
          application/json:
            schema:
              type: object
              required: [tweets]
              properties:
                label:
                  type: string
                  description: Optional display label. When sent, it must match the path ID, ignoring case and a leading @. The path ID names the style when it is left out.
                  example: 'Professional Voice'
                tweets:
                  type: array
                  items:
                    type: object
                    required: [text]
                    properties:
                      text:
                        type: string
                        example: 'Excited to share our latest research.'
                  description: Array of tweet objects
                  example:
                    - text: 'Excited to share our latest research.'
            example:
              label: 'Professional Voice'
              tweets:
                - text: 'Excited to share our latest research.'
      responses:
        '200':
          description: Style profile saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StyleProfile'
              example:
                xUsername: 'professional voice'
                tweetCount: 1
                isOwnAccount: false
                fetchedAt: '2026-08-02T18:30:00.000Z'
                tweets:
                  - id: '0'
                    text: 'Excited to share our latest research.'
                    authorUsername: 'professional voice'
                    createdAt: '2026-08-02T18:30:00.000Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    delete:
      operationId: deleteStyle
      description: Permanently removes one cached style profile.
      summary: Delete a style profile
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/StyleId'
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /styles/{id}/performance:
    get:
      operationId: getStylePerformance
      description: Returns engagement metrics for an analyzed public X profile.
      summary: Get engagement metrics for style tweets
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/StyleId'
      responses:
        '200':
          description: Performance metrics
          content:
            application/json:
              schema:
                type: object
                required: [xUsername, tweetCount, tweets]
                properties:
                  xUsername: *handle-example-schema
                  tweetCount:
                    type: integer
                    example: 5
                  tweets:
                    type: array
                    items:
                      type: object
                      required: [id, text]
                      properties:
                        id: &tweet-id-example-schema
                          type: string
                          example: '1234567890'
                        text:
                          type: string
                          example: 'Excited to share our latest research.'
                        likeCount:
                          type: integer
                          example: 120
                        retweetCount:
                          type: integer
                          example: 15
                        replyCount:
                          type: integer
                          example: 8
                        viewCount:
                          type: integer
                          example: 5000
                        createdAt: &timestamp-text-example-schema
                          type: string
                          example: '2025-01-15T12:00:00Z'
                    example:
                      - id: '1234567890'
                        text: 'Excited to share our latest research.'
                        likeCount: 120
                        retweetCount: 15
                        replyCount: 8
                        viewCount: 5000
                        createdAt: '2025-01-15T12:00:00Z'
              example:
                xUsername: elonmusk
                tweetCount: 5
                tweets:
                  - id: '1234567890'
                    text: 'Excited to share our latest research.'
                    likeCount: 120
                    retweetCount: 15
                    replyCount: 8
                    viewCount: 5000
                    createdAt: '2025-01-15T12:00:00Z'
        '401': *unauthenticated-response
        '402': *payment-required-response
        '404': *not-found-response
        '422':
          $ref: '#/components/responses/InvalidInput'
        '429': *rate-limit-exceeded-response

  /radar:
    get:
      operationId: getRadar
      description: Returns current topics and sources for writing research.
      summary: Get trending topics from curated sources
      tags: [Composition]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - name: after
          in: query
          schema:
            type: string
          description: Cursor for pagination (from prior response nextCursor).
        - name: category
          in: query
          schema:
            type: string
            enum:
              &radar-category-values [
                general,
                tech,
                dev,
                science,
                culture,
                politics,
                business,
                entertainment,
              ]
          description: Filter by category.
        - name: hours
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 72
            default: 6
          description: Lookback window in hours (1-72, default 6).
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
          description: Number of items to return (1-100, default 50).
        - name: region
          in: query
          schema:
            type: string
            default: global
          description: Region filter. Use `global` or a region code such as `US`, `GB`,
            `TR`, or `ES`.
        - name: source
          in: query
          schema:
            type: string
            enum:
              &radar-source-values [
                github,
                google_trends,
                hacker_news,
                polymarket,
                reddit,
                trustmrr,
                wikipedia,
              ]
          description: 'Source filter. One of: github, google_trends, hacker_news,
            polymarket, reddit, trustmrr, wikipedia'
      responses:
        '200':
          description: Radar items
          content:
            application/json:
              schema:
                type: object
                required: [hasMore, items]
                properties:
                  hasMore: *boolean-example-false
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/RadarItem'
                    example: []
                  nextCursor:
                    type: string
                    description: Opaque cursor for the next page (present only when hasMore
                      is true).
                    example: 'eyJ0IjoxNzM5OTcyODAwLCJpIjoiOTk5In0='
              example:
                hasMore: false
                items: []
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response

  # ── Monitors ─────────────────────────────────────────────
  /monitors:
    get:
      operationId: listMonitors
      description: Returns account monitors with their current operating states.
      summary: List monitors
      tags: [Monitors]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      responses:
        '200':
          description: Monitor list
          content:
            application/json:
              schema:
                type: object
                required: [monitors, total]
                properties:
                  monitors:
                    type: array
                    items:
                      $ref: '#/components/schemas/Monitor'
                    example: []
                  total:
                    type: integer
                    example: 0
              example:
                monitors: []
                total: 0
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createMonitor
      summary: Create monitor
      description: Creates an account monitor. Monitors are unlimited. Active monitors
        check every 1 second and cost 21 credits per hour. Events and webhook
        deliveries are included. Creation requires available credits for the
        first hourly charge and username lookup.
      tags: [Monitors]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: true
        description: Target X username and event types to monitor.
        content:
          application/json:
            schema:
              type: object
              required: [username, eventTypes]
              properties:
                username:
                  type: string
                  description: X username (without @)
                  example: elonmusk
                name:
                  type: string
                  minLength: 1
                  maxLength: 80
                  description: Your own label for the account monitor. Every event it produces carries it as monitorName. Whitespace is normalized.
                  example: Launch watch
                eventTypes: &event-types
                  type: array
                  $ref: '#/components/schemas/EventTypeArray'
                  example: [tweet.new, tweet.reply]
            example:
              username: elonmusk
              eventTypes: [tweet.new, tweet.reply]
      responses:
        '201':
          description: Monitor created
          content:
            application/json:
              schema:
                type: object
                required: [id, username, xUserId, eventTypes, isActive, createdAt, nextBillingAt]
                properties:
                  id: *resource-id-example-schema
                  username: *handle-example-schema
                  xUserId: *tweet-id-example-schema
                  eventTypes: *event-types
                  isActive: &boolean-example-true
                    type: boolean
                    example: true
                  createdAt: *created-at-schema
                  nextBillingAt:
                    type: string
                    format: date-time
                    description: Next hourly credit charge time. New active monitors are
                      due immediately.
                    example: '2025-01-15T12:00:00Z'
              example:
                id: '42'
                username: elonmusk
                xUserId: '1234567890'
                eventTypes: [tweet.new, tweet.reply]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
                nextBillingAt: '2025-01-15T12:00:00Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '402': *payment-required-response
        '404': &user-not-found-response
          $ref: '#/components/responses/UserNotFound'
        '409':
          description: Monitor already exists
          content:
            application/json:
              schema: &error-schema
                $ref: '#/components/schemas/Error'
              example:
                error: 'monitor_already_exists'
                message: 'Monitor already exists.'
        '429': *rate-limit-exceeded-response

  /monitors/keywords:
    get:
      operationId: listKeywordMonitors
      description: Returns keyword monitors with their current operating states.
      summary: List keyword monitors
      tags: [Monitors]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      responses:
        '200':
          description: Keyword monitor list
          content:
            application/json:
              schema:
                type: object
                required: [monitors, total]
                properties:
                  monitors:
                    type: array
                    items:
                      $ref: '#/components/schemas/KeywordMonitor'
                    example: []
                  total:
                    type: integer
                    example: 0
              example:
                monitors: []
                total: 0
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createKeywordMonitor
      summary: Create keyword monitor
      description: Creates a keyword monitor. Keyword monitors are unlimited. Active
        monitors check every 1 second and cost 21 credits per hour. Events and
        webhook deliveries are included. Creation requires available credits for
        the first hourly charge.
      tags: [Monitors]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: true
        description: Search query and event types to monitor.
        content:
          application/json:
            schema:
              type: object
              required: [query, eventTypes]
              properties:
                query:
                  type: string
                  minLength: 1
                  maxLength: 512
                  description: X search query to monitor. Whitespace is normalized.
                  example: 'xquik OR "x api"'
                name:
                  type: string
                  minLength: 1
                  maxLength: 80
                  description: Your own label for the keyword monitor. Its events carry it as monitorName.
                  example: Launch mentions
                eventTypes: &single-event-type
                  type: array
                  $ref: '#/components/schemas/EventTypeArray'
                  example: [tweet.new]
            example:
              query: 'xquik OR "x api"'
              eventTypes: [tweet.new]
      responses:
        '201':
          description: Keyword monitor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordMonitor'
              example:
                id: '21'
                query: 'xquik OR "x api"'
                eventTypes: [tweet.new]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
                nextBillingAt: '2025-01-15T12:00:00Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '402': *payment-required-response
        '409':
          description: Keyword monitor already exists
          content:
            application/json:
              schema: *error-schema
              example:
                error: 'monitor_already_exists'
                message: 'Monitor already exists.'
        '429': *rate-limit-exceeded-response

  /monitors/keywords/{id}:
    get:
      operationId: getKeywordMonitor
      description: Returns configuration and status for one keyword monitor.
      summary: Get keyword monitor
      tags: [Monitors]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Keyword monitor details
          content: &keyword-monitor-content
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordMonitor'
              example:
                id: '21'
                query: 'xquik OR "x api"'
                eventTypes: [tweet.new]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
                nextBillingAt: '2025-01-15T13:00:00Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    patch:
      operationId: updateKeywordMonitor
      description: Updates mutable settings for an existing keyword monitor.
      summary: Update keyword monitor
      tags: [Monitors]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        description: Updated event types or active status.
        content:
          application/json:
            schema:
              type: object
              properties:
                eventTypes: *single-event-type
                isActive: *boolean-example-true
                name:
                  type: [string, 'null']
                  minLength: 1
                  maxLength: 80
                  description: New label for the keyword monitor. Send null to remove it.
                  example: Launch mentions
            example:
              eventTypes: [tweet.new]
              isActive: true
      responses:
        '200':
          description: Keyword monitor updated
          content: *keyword-monitor-content
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    delete:
      operationId: deleteKeywordMonitor
      description: Stops one keyword monitor, then removes its stored events in bounded
        batches. Poll statusUrl until the monitor returns 404.
      summary: Delete keyword monitor
      tags: [Monitors]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses: &monitor-deletion-responses
        '202':
          $ref: '#/components/responses/MonitorDeletionAccepted'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /monitors/{id}:
    get:
      operationId: getMonitor
      description: Returns configuration and status for one account monitor.
      summary: Get monitor
      tags: [Monitors]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Monitor details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
              example:
                id: '42'
                username: elonmusk
                xUserId: '1234567890'
                eventTypes: [tweet.new, tweet.reply]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
                nextBillingAt: '2025-01-15T13:00:00Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    patch:
      operationId: updateMonitor
      description: Updates mutable settings for an existing account monitor.
      summary: Update monitor
      tags: [Monitors]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        description: Event type list or active state for the account monitor.
        content:
          application/json:
            schema:
              type: object
              properties:
                eventTypes: *single-event-type
                isActive: *boolean-example-true
                name:
                  type: [string, 'null']
                  minLength: 1
                  maxLength: 80
                  description: New label for the account monitor. Send null to remove the label.
                  example: Launch watch
            example:
              eventTypes: [tweet.new]
              isActive: true
      responses:
        '200':
          description: Monitor updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
              example:
                id: '42'
                username: elonmusk
                xUserId: '1234567890'
                eventTypes: [tweet.new]
                isActive: true
                createdAt: '2025-01-15T12:00:00Z'
                nextBillingAt: '2025-01-15T13:00:00Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '409':
          description: The monitored X account is still unavailable
          content:
            application/json:
              schema: *error-schema
              example:
                error: monitor_profile_unavailable
                message: X account unavailable. Restore it before resuming.
        '429': *rate-limit-exceeded-response
    delete:
      operationId: deleteMonitor
      description: Stops one account monitor, then removes its stored events in bounded
        batches. Poll statusUrl until the monitor returns 404.
      summary: Delete monitor
      tags: [Monitors]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses: *monitor-deletion-responses

  # ── Events ───────────────────────────────────────────────
  /events:
    get:
      operationId: listEvents
      description: Returns monitor events with cursor pagination and filters.
      summary: List events
      tags: [Events]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - name: monitorId
          in: query
          description: Account monitor ID.
          schema:
            type: string
        - name: keywordMonitorId
          in: query
          description: Keyword monitor ID.
          schema:
            type: string
        - name: eventType
          in: query
          description: Filter events by type
          schema:
            $ref: '#/components/schemas/EventType'
      responses:
        '200':
          description: Event list
          content:
            application/json:
              schema:
                type: object
                required: [events, hasMore]
                properties:
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                    example: []
                  hasMore: *boolean-example-false
                  nextCursor: *short-id-example-schema
              example:
                events: []
                hasMore: false
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
  /events/{id}:
    get:
      operationId: getEvent
      description: Returns one monitor event owned by the account.
      summary: Get event
      tags: [Events]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Event details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
              example:
                id: '42'
                type: 'tweet.new'
                username: 'elonmusk'
                monitorId: '7'
                monitorType: account
                occurredAt: '2025-01-15T12:00:00Z'
                data:
                  tweetId: '1234567890'
        '401': *unauthenticated-response
        '400': *invalid-input-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  # ── Extractions ──────────────────────────────────────────
  /extractions:
    get:
      operationId: listExtractions
      description: Returns extraction jobs with status and result counts.
      summary: List extraction jobs
      tags: [Extractions]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
        - name: toolType
          in: query
          description: Filter by extraction tool type
          schema:
            $ref: '#/components/schemas/ExtractionToolType'
        - name: status
          in: query
          description: Filter by job status
          schema:
            type: string
            enum: [pending, running, canceled, completed, failed]
      responses:
        '200':
          description: Extraction job list
          content:
            application/json:
              schema:
                type: object
                required: [extractions, hasMore]
                properties:
                  extractions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtractionJob'
                    example: []
                  hasMore: *boolean-example-false
                  nextCursor: *short-id-example-schema
              example:
                extractions: []
                hasMore: false
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createExtraction
      description: Starts one single-target or multi-target extraction. Follow waitUrl,
        then page statusUrl after completion.
      summary: Create extraction
      tags: [Extractions]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: dry_run
          in: query
          description: Estimate cost without creating an extraction.
          schema: &boolean-default-false
            type: boolean
            default: false
          example: true
      requestBody:
        required: true
        description: Tool type plus one or more tweet, user, community, list, or search
          targets.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractionRequest'
      responses:
        '200':
          description: Dry-run estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionEstimate'
        '202':
          description: Extraction started. Location identifies its result URL.
          headers:
            Location:
              description: Relative extraction result URL.
              schema: { type: string }
            Retry-After:
              description: Seconds before polling statusUrl.
              schema: { type: integer, minimum: 0 }
            Idempotency-Replayed:
              description: Present as true when returning the original job.
              schema: { type: string, const: 'true' }
          content:
            application/json:
              schema:
                type: object
                required: [id, pollAfterMs, status, statusUrl, toolType, waitUrl]
                properties:
                  id: { type: string, example: 'ext_123' }
                  pollAfterMs: { type: integer, minimum: 0, example: 1000 }
                  statusUrl: { type: string, example: '/api/v1/extractions/a1b2c3d4' }
                  waitUrl: &extraction-wait-url
                    type: string
                    example: >-
                      /api/v1/extractions/id?wait=10&limit=1&outputMode=compact
                  toolType:
                    $ref: '#/components/schemas/ExtractionToolType'
                  status:
                    type: string
                    enum: [pending, running, canceled, completed, failed]
                    example: running
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '402': *payment-required-response
        '404': *not-found-response
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '424': &x-api-error-response
          $ref: '#/components/responses/XApiError'
        '429': *rate-limit-exceeded-response
        '502': *x-api-error-response

  /extractions/estimate:
    post:
      operationId: estimateExtraction
      x-mcp-annotations: { readOnlyHint: true }
      description: Estimates extraction cost without creating a job.
      summary: Estimate extraction cost
      tags: [Extractions]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: true
        description: Same parameters as a real extraction; returns estimated credit cost
          without running the job.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractionRequest'
      responses:
        '200':
          description: Extraction estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionEstimate'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '402': *payment-required-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /extractions/{id}:
    delete:
      operationId: cancelExtraction
      description: Cancels an active extraction without charging or saving rows.
      summary: Cancel extraction
      tags: [Extractions]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Extraction canceled
          content:
            application/json:
              schema:
                type: object
                required: [id, status]
                properties:
                  id: { type: string, example: 'aB3dE6gH9jK2' }
                  status: { type: string, const: canceled }
        '401': *unauthenticated-response
        '404': *not-found-response
        '409':
          description: Extraction already reached a terminal state
          content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } }
        '429': *rate-limit-exceeded-response
    get:
      operationId: getExtraction
      description: Returns status and up to 1,000 results. Follow nextCursor when hasMore
        is true.
      summary: Get extraction results
      tags: [Extractions]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - name: limit
          in: query
          description: Maximum results per page (1-1000, default 100).
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
        - $ref: '#/components/parameters/After'
        - name: wait
          in: query
          description: Wait up to this many seconds when the job is active.
          schema: { type: integer, minimum: 0, maximum: 10, default: 0 }
        - name: outputMode
          in: query
          description: Use compact for core fields and tweet counts, full for nested
            enrichment, or raw for a source copy.
          schema:
            type: string
            enum: [compact, full, raw]
            default: full
        - name: outputPreset
          in: query
          description: Keep enrichment nested or merge it into each result.
          schema:
            type: string
            enum: [nested, flat]
            default: nested
        - name: fieldStyle
          in: query
          description: Preserve source keys or convert result field names.
          schema:
            type: string
            enum: [source, camelCase, snake_case]
            default: source
        - name: includeRaw
          in: query
          deprecated: true
          description: Use outputMode=raw instead.
          schema: *boolean-default-false
      responses:
        '200':
          description: Extraction job with results
          content:
            application/json:
              schema:
                type: object
                required: [job, results, hasMore, pollAfterMs, waitUrl]
                properties:
                  job: { $ref: '#/components/schemas/ExtractionJob' }
                  results:
                    type: array
                    items: { $ref: '#/components/schemas/ExtractionResult' }
                    example: []
                  hasMore: { type: boolean, example: false }
                  pollAfterMs: { type: integer, minimum: 0, example: 0 }
                  waitUrl: *extraction-wait-url
                  nextCursor: { type: string, example: 'abc123' }
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /extractions/{id}/export:
    get:
      operationId: exportExtraction
      x-mcp-exclusion-reason: Binary downloads remain direct REST.
      description: Downloads completed extraction results in the requested format.
      summary: Export extraction results
      tags: [Extractions]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Extraction public ID
        - name: format
          in: query
          required: true
          description: Export file format
          schema:
            type: string
            enum: [csv, json, md, md-document, pdf, txt, xlsx]
        - name: minFollowers
          in: query
          schema: { type: integer }
          description: Minimum follower count.
        - name: maxFollowers
          in: query
          schema: { type: integer }
          description: Maximum follower count.
        - name: minFollowing
          in: query
          schema: { type: integer }
          description: Minimum following count.
        - name: maxFollowing
          in: query
          schema: { type: integer }
          description: Maximum following count.
        - name: minPosts
          in: query
          schema: { type: integer }
          description: Minimum post count.
        - name: maxPosts
          in: query
          schema: { type: integer }
          description: Maximum post count.
        - name: minLikes
          in: query
          schema: { type: integer }
          description: Minimum like count.
        - name: minReplies
          in: query
          schema: { type: integer }
          description: Minimum reply count.
        - name: minRetweets
          in: query
          schema: { type: integer }
          description: Minimum repost count.
        - name: minViews
          in: query
          schema: { type: integer }
          description: Minimum view count.
        - name: hasDescription
          in: query
          schema: { type: boolean }
          description: Require a non-empty description.
        - name: hasLocation
          in: query
          schema: { type: boolean }
          description: Require a non-empty location.
        - name: hasMedia
          in: query
          schema: { type: boolean }
          description: Require media.
        - name: verified
          in: query
          schema: { type: boolean }
          description: Filter by verified status.
        - name: lang
          in: query
          schema: { type: string }
          description: Filter by language code.
        - name: search
          in: query
          schema: { type: string }
          description: Search exported result text.
        - name: sinceDate
          in: query
          schema: { type: string, format: date }
          description: Include results on or after this date.
        - name: untilDate
          in: query
          schema: { type: string, format: date }
          description: Include results on or before this date.
      responses:
        '200':
          description: Exported file
          content: &binary-download-content
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  # ── Draws ────────────────────────────────────────────────
  /draws:
    get:
      operationId: listDraws
      description: Returns giveaway draws owned by the authenticated account.
      summary: List draws
      tags: [Draws]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/After'
      responses:
        '200':
          description: Draw list
          content:
            application/json:
              schema:
                type: object
                required: [draws, hasMore]
                properties:
                  draws:
                    type: array
                    items:
                      $ref: '#/components/schemas/DrawListItem'
                    example: []
                  hasMore: *boolean-example-false
                  nextCursor: *short-id-example-schema
              example:
                draws: []
                hasMore: false
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createDraw
      summary: Run giveaway draw
      description: Checks credits, then draws winners from inspected replies and reposters.
        Remaining credits cap inspected candidates.
      tags: [Draws]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        description: Tweet URL, winner count, and optional eligibility filters (retweet,
          follow, keywords, hashtags, account age).
        content:
          application/json:
            schema:
              type: object
              required: [tweetUrl]
              properties:
                tweetUrl:
                  type: string
                  format: uri
                  example: 'https://x.com/elonmusk/status/1234567890'
                winnerCount:
                  type: integer
                  default: 1
                  example: 3
                backupCount:
                  type: integer
                  example: 2
                uniqueAuthorsOnly: *boolean-example-true
                mustRetweet: *boolean-example-true
                mustFollowUsername: *handle-example-schema
                filterMinFollowers:
                  type: integer
                  example: 50
                filterAccountAgeDays:
                  type: integer
                  example: 30
                filterLanguage:
                  type: string
                  example: en
                requiredHashtags:
                  type: array
                  items:
                    type: string
                  example: ['#giveaway']
                requiredKeywords:
                  type: array
                  items:
                    type: string
                  example: ['entered']
                requiredMentions:
                  type: array
                  items:
                    type: string
                  example: ['@elonmusk']
            example:
              tweetUrl: 'https://x.com/elonmusk/status/1234567890'
              winnerCount: 3
              mustRetweet: true
      responses:
        '201':
          description: Draw completed
          headers:
            Idempotency-Replayed:
              description: Present as true when returning the original draw.
              schema: { type: string, const: 'true' }
          content:
            application/json:
              schema:
                type: object
                required: [id, tweetId, totalEntries, validEntries, winners]
                properties:
                  id:
                    type: string
                    example: 'f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345'
                  tweetId: *tweet-id-example-schema
                  totalEntries:
                    type: integer
                    description: Candidate entries inspected for this draw after the
                      credit-derived cap. This may be lower than the source
                      tweet's full reply count.
                    example: 250
                  validEntries:
                    type: integer
                    description: Entries from the inspected candidate set that passed all
                      filters. This is not necessarily every valid reply on the
                      source tweet when credits cap inspection.
                    example: 200
                  winners:
                    type: array
                    items:
                      $ref: '#/components/schemas/Winner'
                    example: []
              example:
                id: 'f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345'
                tweetId: '1234567890'
                totalEntries: 250
                validEntries: 200
                winners: []
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '402':
          description: Insufficient usable credits. Draws can fail before execution when
            the available balance cannot cover the minimum draw cost. A draw can
            also fail after execution when its final computed cost cannot be
            deducted. Xquik saves nothing and charges nothing for that draw.
          content:
            application/json:
              schema: *error-schema
              example:
                error: 'insufficient_credits'
                message: 'Insufficient credits'
        '404': *not-found-response
        '409':
          description: Idempotency-Key belongs to another draw request, or its first
            request is still running. Xquik charges nothing for this request.
          content:
            application/json:
              schema: *error-schema
              examples:
                conflict:
                  summary: Another request body
                  value:
                    error: idempotency_conflict
                    message: Idempotency-Key belongs to another request. Use a new key.
                inProgress:
                  summary: First request still running
                  value:
                    error: idempotency_in_progress
                    message: Idempotency-Key belongs to a running request. Retry later.
        '424': *x-api-error-response
        '429': *rate-limit-exceeded-response
        '502': *x-api-error-response

  /draws/{id}:
    get:
      operationId: getDraw
      description: Returns draw rules, status, candidates, and selected winners.
      summary: Get draw details
      tags: [Draws]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/DrawId'
      responses:
        '200':
          description: Draw with winners
          content:
            application/json:
              schema:
                type: object
                required: [draw, winners]
                properties:
                  draw:
                    type: object
                    $ref: '#/components/schemas/DrawDetail'
                    example: &draw-detail-example
                      id: 'f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345'
                      tweetUrl: 'https://x.com/elonmusk/status/1234567890'
                      tweetId: '1234567890'
                      tweetText: 'Giving away 3 Tesla Model 3s!'
                      tweetAuthorUsername: 'elonmusk'
                      status: 'completed'
                      totalEntries: 250
                      validEntries: 200
                      tweetLikeCount: 50000
                      tweetRetweetCount: 25000
                      tweetReplyCount: 10000
                      tweetQuoteCount: 5000
                      createdAt: '2025-01-15T12:00:00Z'
                  winners:
                    type: array
                    items:
                      $ref: '#/components/schemas/Winner'
                    example: []
              example:
                draw:
                  id: 'f4bd00a2-7b4e-4e59-8e1b-72e2c9f12345'
                  tweetUrl: 'https://x.com/elonmusk/status/1234567890'
                  tweetId: '1234567890'
                  tweetText: 'Giving away 3 Tesla Model 3s!'
                  tweetAuthorUsername: 'elonmusk'
                  status: 'completed'
                  totalEntries: 250
                  validEntries: 200
                  tweetLikeCount: 50000
                  tweetRetweetCount: 25000
                  tweetReplyCount: 10000
                  tweetQuoteCount: 5000
                  createdAt: '2025-01-15T12:00:00Z'
                winners: []
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /draws/{id}/export:
    get:
      operationId: exportDraw
      x-mcp-exclusion-reason: Binary downloads remain direct REST.
      description: Downloads draw evidence in the requested format.
      summary: Export draw data
      tags: [Draws]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/DrawId'
        - name: format
          in: query
          required: true
          description: >-
            Export output format. PDF entry exports include up to 10,000 rows.
            Other entry formats include up to 100,000 rows.
          schema:
            type: string
            enum: [csv, json, md, md-document, pdf, txt, xlsx]
        - name: type
          in: query
          schema:
            type: string
            enum: [winners, entries]
            default: winners
          description: Export winners or all entries
      responses:
        '200':
          description: Exported draw file
          content: *binary-download-content
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  # ── Webhooks ─────────────────────────────────────────────
  /webhooks:
    get:
      operationId: listWebhooks
      description: Returns configured webhook endpoints and delivery states.
      summary: List webhooks
      tags: [Webhooks]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      responses:
        '200':
          description: Webhook list
          content:
            application/json:
              schema:
                type: object
                required: [webhooks]
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
                    example: []
              example:
                webhooks: []
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
    post:
      operationId: createWebhook
      description: Registers an endpoint for signed event deliveries.
      summary: Create webhook
      tags: [Webhooks]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      requestBody:
        required: true
        description: HTTPS callback URL and event types to subscribe to.
        content:
          application/json:
            schema:
              type: object
              required: [url, eventTypes]
              properties:
                url:
                  type: string
                  format: uri
                  description: HTTPS URL
                  example: 'https://example.com/webhook'
                eventTypes: *event-types
            example:
              url: 'https://example.com/webhook'
              eventTypes: [tweet.new, tweet.reply]
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                required: [id, url, secret, eventTypes, createdAt]
                properties:
                  id: *resource-id-example-schema
                  url:
                    type: string
                    format: uri
                    example: 'https://example.com/webhook'
                  secret:
                    type: string
                    description: Plaintext HMAC signing secret returned only at creation.
                    example: 'a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2'
                  eventTypes: *event-types
                  createdAt: *created-at-schema
              example:
                id: '42'
                url: 'https://example.com/webhook'
                secret: 'a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2'
                eventTypes: [tweet.new, tweet.reply]
                createdAt: '2025-01-15T12:00:00Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '429': *rate-limit-exceeded-response
  /webhooks/{id}:
    patch:
      operationId: updateWebhook
      description: Updates an endpoint, event selection, or delivery settings.
      summary: Update webhook
      tags: [Webhooks]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        description: Updated URL, event types, or active status.
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  example: 'https://example.com/webhook'
                eventTypes: *single-event-type
                isActive: *boolean-example-true
            example:
              url: 'https://example.com/webhook'
              isActive: true
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
              example:
                id: '42'
                url: 'https://example.com/webhook'
                eventTypes: [tweet.new]
                isActive: true
                consecutiveFailures: 0
                deliveryStatus: active
                failureHardCap: 200
                createdAt: '2025-01-15T12:00:00Z'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response
    delete:
      operationId: deleteWebhook
      description: Stops future deliveries to the selected webhook.
      summary: Deactivate webhook
      tags: [Webhooks]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /webhooks/{id}/deliveries:
    get:
      operationId: listWebhookDeliveries
      description: Returns recent delivery attempts and response outcomes.
      summary: List webhook deliveries
      tags: [Webhooks]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Delivery list
          content:
            application/json:
              schema:
                type: object
                required: [deliveries]
                properties:
                  deliveries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Delivery'
                    example: []
              example:
                deliveries: []
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /webhooks/{id}/test:
    post:
      operationId: testWebhook
      description: Sends a signed test event to the configured endpoint.
      summary: Test webhook endpoint
      tags: [Webhooks]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object
                required: [success, statusCode]
                properties:
                  success: *boolean-example-true
                  statusCode:
                    type: integer
                    example: 200
                  error:
                    type: string
                    example: ''
              example:
                success: true
                statusCode: 200
        '400': *invalid-input-response
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /webhooks/{id}/resume:
    post:
      operationId: resumeWebhook
      description: Tests the endpoint before resuming a manually paused webhook.
      summary: Test and resume webhook endpoint
      tags: [Webhooks]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Webhook resumed after a successful test delivery
          content:
            application/json:
              schema:
                type: object
                required: [success, statusCode, webhook]
                properties:
                  success: *boolean-example-true
                  statusCode:
                    type: integer
                    example: 200
                  webhook:
                    $ref: '#/components/schemas/Webhook'
              example:
                success: true
                statusCode: 200
                webhook:
                  id: '42'
                  url: 'https://example.com/webhook'
                  eventTypes: [tweet.new]
                  isActive: true
                  consecutiveFailures: 0
                  deliveryStatus: active
                  failureHardCap: 200
                  createdAt: '2025-01-15T12:00:00Z'
        '400':
          description: Webhook test failed
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [error, statusCode, success]
                properties:
                  error:
                    type: string
                    description: Delivery failure returned by the webhook sender.
                    example: 'Connection timed out'
                  statusCode:
                    type: integer
                    description: Webhook response status, or 0 before a response.
                    example: 0
                  success: &boolean-false
                    type: boolean
                    const: false
              example:
                error: 'Connection timed out'
                statusCode: 0
                success: false
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  # ── X API (reads) ────────────────────────────────────────
  /x/tweets:
    get:
      operationId: getBatchTweets
      description: Returns public tweet records for the requested IDs.
      summary: Get multiple tweets by IDs
      tags:
        - Tweets
      security: [{ apiKey: [] }, { oauthBearer: [] }, {}]
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated tweet IDs (max 100)
      responses:
        '200':
          description: >-
            Requested tweets in request order. Partial successful reads recheck
            unresolved IDs once.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTweets'
              example:
                tweets: &example-launch-tweets
                  - id: '1234567890'
                    text: 'Just launched our new feature!'
                    createdAt: '2025-01-15T12:00:00Z'
                    likeCount: 42
                    retweetCount: 5
                    replyCount: 3
                    quoteCount: 1
                    viewCount: 1500
                    bookmarkCount: 2
                    author:
                      id: '9876543210'
                      username: 'elonmusk'
                      name: 'Elon Musk'
                      verified: true
                has_next_page: false
                next_cursor: ''
        '400': *invalid-input-response
        '401': &anonymous-guest-authentication-response
          $ref: '#/components/responses/AnonymousGuestAuthenticationRequired'
        '402': *payment-required-response
        '502': *x-api-error-response
        '429': *rate-limit-exceeded-response
        '424': *x-api-error-response
    post:
      operationId: createTweet
      description: Publishes a post through a connected X account.
      x-write-action: create_tweet
      summary: Create tweet
      tags: [X Write]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - $ref: '#/components/parameters/WriteIdempotencyKey'
      requestBody:
        required: true
        description: Account and tweet content. Requires text, media, or both.
        content:
          application/json:
            schema:
              type: object
              required: [account]
              properties:
                account:
                  type: string
                  description: X account (@username or account ID)
                  example: '@elonmusk'
                text:
                  type: string
                  description: Tweet text (optional when media is provided)
                  example: 'Just launched our new feature!'
                reply_to_tweet_id: *tweet-id-example-schema
                community_id:
                  type: string
                  example: '1500000000000000000'
                is_note_tweet: *boolean-example-false
                media:
                  type: array
                  items:
                    type: string
                  maxItems: 4
                  description: Array of public media URLs to attach. Supports up to 4
                    images or exactly 1 MP4 video up to 100 MB. Each URL must be
                    publicly reachable. Attached media adds 2 credits per
                    started MB across all files.
                  example: ['https://example.com/video.mp4']
            example:
              account: '@elonmusk'
              text: 'Just launched our new feature!'
      responses: &write-responses
        '200':
          $ref: '#/components/responses/WriteActionCompleted'
        '202':
          $ref: '#/components/responses/WriteActionAccepted'
        '409':
          $ref: '#/components/responses/WriteIdempotencyConflict'
        '400':
          $ref: '#/components/responses/WriteInvalidInput'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/AccountAuthError'
        '404':
          $ref: '#/components/responses/XAccountNotFound'
        '422':
          $ref: '#/components/responses/WriteRejected'
        '429':
          $ref: '#/components/responses/WriteRateLimited'
        '503':
          $ref: '#/components/responses/WriteTrackingUnavailable'
        '500':
          $ref: '#/components/responses/WriteError'

  /x/write-actions/{id}:
    get:
      operationId: getWriteActionStatus
      description: Returns the current state of an asynchronous write action.
      summary: Get write action status
      tags: [X Write]
      security: [{ apiKey: [] }, { oauthBearer: [] }]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Write action ID returned by a pending write response.
      responses:
        '200':
          $ref: '#/components/responses/WriteActionCompleted'
        '202':
          $ref: '#/components/responses/WriteActionAccepted'
        '401': *unauthenticated-response
        '404': *not-found-response
        '429': *rate-limit-exceeded-response

  /x/trends:
    get:
      operationId: getXTrends
      description: Returns current X trends for the requested region.
      summary: Get trending hashtags and topics from X by region
      tags:
        - Trends
      security: [{ apiKey: [] }, { oauthBearer: [] }, {}]
      x-payment-info:
        offers:
          - amount: '450'
            currency: '0x20c000000000000000000000b9537d11c60e8b50'
            intent: charge
            method: tempo
      parameters:
        - name: woeid
          in: query
          schema:
            type: integer
            default: 1
          description: 'Region WOEID (1=Worldwide, 23424977=US, 23424975=UK,
            23424969=Turkey)'
        - name: count
          in: query
          description: Number of trending topics to return (1-50, default 30)
          schema:
            type: integer
            default: 30
            minimum: 1
            maximum: 50
      responses:
        '200':
          description: List of trending topics
          content:
            application/json:
              schema:
                type: object
                required: [trends, count, woeid]
                properties:
                  trends:
                    type: array
                    items:
                      type: object
                      required: [name]
                      properties:
                        name:
                          type: string
                          example: '#AI'
                        description:
                          type: string
                          example: 'Artificial intelligence discussions'
                        query:
                          type: string
                          example: '%23AI'
                        promotedContent:
                          type: [string, 'null']
                          description: Promotion identifier from X. Null for organic
                            trends.
                        rank: &integer-example-one
                          type: integer
                          example: 1
                        tweetVolume:
                          type: [integer, 'null']
                          description: Approximate public post volume when X supplies it.
                          example: 250000
                        url:
                          type: string
                          format: uri
                          description: X search URL for the trend.
                    example: &trends-example
                      - name: '#AI'
                        description: 'Artificial intelligence discussions'
                        promotedContent: null
                        query: '%23AI'
                        rank: 1
                        tweetVolume: 250000
                        url: 'https://x.com/search?q=%23AI'
                  count:
                    type: integer
                    example: 30
                  woeid: *integer-example-one
              example:
                trends: *trends-example
                count: 30
                woeid: 1
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '502': *x-api-error-response
        '429': *rate-limit-exceeded-response
        '424': *x-api-error-response

  /x/tweets/search:
    get:
      operationId: searchTweets
      summary: Search tweets with minLikes, normalized likeCount, media & cursors
      x-mcp-summary: Search tweets with minLikes, normalized like_count, media & cursors
      description: Tweets include authors, like counts, media, URLs & cursors. Omit mode
        for maximum coverage. Reuse next_cursor with unchanged filters.
      tags:
        - Tweets
      security: [{ apiKey: [] }, { oauthBearer: [] }, {}]
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Query, Tweet ID, or URL. Hyphens negate terms. Use exactPhrase for
            literals. Valid bounds apply per page.
        - name: queryType
          in: query
          required: false
          schema:
            type: string
            enum: [Latest, Top]
            default: Latest
          description: 'Latest is chronological; Top ranks engagement. Aliases:
            result_type, sort_order.'
        - $ref: '#/components/parameters/AutomaticCoverageMode'
        - $ref: '#/components/parameters/AutomaticCoverageCursor'
[...]
